/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);

/* #General
================================================== */
.main-holder {
	z-index: 100;
	overflow: hidden;
}
.header {
	z-index: 101;
}
.content-holder {
	z-index: 100;
	background: #fff;
	position: relative;
}
.footer {
	z-index: 99;
}
body {
	@media (max-width: 767px) {
		padding: 0;
		
		.header {
			padding: 0 20px;
		} 
		.footer {
			padding: 20px;
			.box-sizing(border-box);
		}
		.content-holder {
			padding: 0 20px 40px 20px !important;
		}
		&.home {
			.content-holder {
				padding: 0 !important;

				>.container {
					padding: 0 20px 40px !important;
				}
			}
		}
	}
}
a {
	.transition;
}
.featured-thumbnail, 
.thumbnail,
figure.frame {
	background: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	border: none;
	overflow: hidden;
	.box-sizing(border-box);

	img {
		display: inline-block;
		border-radius: 0;
		border: none;
		padding: 0;
		background: none;
		.box-sizing(border-box);
	}
}
figure.frame {
	margin-left: 0;
	text-align: left;

	p {
		margin: 0 !important;
	}
	@media (max-width: 767px) {
		text-align: center;
	}
	&.alignnone {
		margin: 5px 0 25px;

		@media (max-width: 767px) {
			margin: 20px 0;
			text-align: left;
		}
	}
	&.alignleft {
		margin: 9px 30px 20px 0;
		
		@media (min-width: 768px) and (max-width: 979px) {
			float: none;
			margin: 0 0 20px;
		}
		@media (max-width: 600px) {
			margin: 0 0 20px 0;
			float: none;
		}
	}
	&.alignright {
		margin: 0 0 10px 30px;

		@media (min-width: 768px) and (max-width: 979px) {
			float: none;
			margin: 0 0 20px 0;
		}
		@media (max-width: 550px) {
			float: none;
			margin: 20px 0 20px 0;
		}
	}
}
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"],
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	padding: 7px 10px;
	margin: 0 0 10px 0;
	font-size: 13px;
	line-height: 1.2em;
	text-transform: none;
	color: @gray;
	text-decoration: none;
	position: relative;
	height: 36px;
	border-radius: 0;
	background: @white;
	box-shadow: none;
	border: 1px solid @bordercolor;
	.transition;
	.placeholder(@gray);
	.box-sizing(border-box);

	&:focus {
		background: #f5f5f5;
		box-shadow: none;
		border-color: #202121 !important;
	}
}
div.wpcf7 {
	padding: 10px 0;

	.wpcf7-form {
		p {
			margin-bottom: 10px;

			input[type="text"],
			input[type="email"] {
				padding: 15px 20px;
				margin: 0;
				height: 50px;
				.box-sizing(border-box);

				&:focus {
					border-color: #202121 !important;
				}
			}
		}
		textarea {
			margin-bottom: 10px;
			min-height: 290px;
			padding: 15px 20px;

			&:focus {
				border-color: #202121 !important;
			}
		}
		.wpcf7-not-valid-tip {
			padding: 12px 10px !important; 
			vertical-align: middle;
			
			@media (min-width: 980px) and (max-width: 1200px) {
				font-size: 12px !important;
			}
			.ie8 & {
				font-size: 12px !important;
			}
			@media (min-width: 768px) and (max-width: 979px) {
				font-size: 9px !important;
				padding: 6px 7px !important;
			}
		}
		.submit-wrap {
			position: relative;
			text-align: left;

			@media (max-width: 767px) {
				text-align: center;
			}
			.btn {
				height: auto;
			}
			input {
				margin: 0;
				height: auto;
				display: inline-block;
			}
			.input-btn {
				margin-right: 20px;

				@media (max-width: 767px) {
					margin: 10px;
				}
				span {
					input[type="submit"], input[type="reset"] {
						padding: 15px 90px 15px 30px !important;
						text-transform: capitalize;
						margin: 0;
					}
				}
			}
			.ajax-loader {
				position: absolute;
				right: -22px;
				top: 9px;
			}
			input[type="submit"], input[type="reset"] {
				height: auto;
			}
		}
	}
}

/* #Header
================================================== */
.header {
	padding: 0;
	border: none;

	.span7 {
		text-align: right;
	}
	@media only screen and (min-width: 1200px) {
		.home & {
			background: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;

			.header-bg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				.opacity(90);
			}
		}
	}
}
.nav-wrap {
	position: relative;
	padding: 30px 0 34px;
	z-index: 100;
	background: transparent;
	transition: background 300ms;
	-webkit-transition: background 300ms;
	-moz-transition: background 300ms;
	-webkit-transform: translateZ(0);
	.left-right;

	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&:before,
	&:after {
		display: none;
	}
	&.isStuck {
		@media only screen and (min-width: 998px) {
			padding: 10px 0;
			background: #1b294a;
			width: 100%;

			&:before,
			&:after {
				display: block;
			}
			.nav__primary {
				padding: 0;

				.sf-menu {
					> .menu-item {
						> .sub-menu {
							margin-top: 16px;
						}
					}
				}
			}
		}
		@media (max-width: 998px) {
			position: relative !important;
			top: 0 !important;
			border: none;
			background: none !important;
			.box-shadow(none);
		}
		.ie8 & {
			position: relative !important;
			top: 0 !important;
			border: none;
			background: none !important;
			.box-shadow(none);
		}
	}
}
.pseudoStickyBlock {
	@media (max-width: 998px) {
		height: 0 !important;
	}
}
.menu-wrap,
.social-wrap {
	display: inline-block;
	vertical-align: middle;

	@media (max-width: 767px) {
		display: block;
	}
}
.nav__primary {
	padding: 6px 0 0;
	margin: 0;
	.box-sizing(border-box);

	@media (max-width: 767px) {
		padding: 10px 0;
	}
	.select-menu {
		height: 40px;
	}
	.sf-menu {
		float: right;
		padding: 0;
		position: relative;

		> .menu-item {
			display: inline-block;
			float: left;
			vertical-align: middle;
			background: none;
			position: relative;
			padding: 0;
			margin: 0 0 0 28px;
			.box-sizing(border-box);
			
			@media (min-width: 768px) and (max-width: 1200px) {
				margin: 0 0 0 10px;
			}
			.ie8 & {
				margin: 0 0 0 10px;
			}
			&:first-child {
				margin: 0;
				border: none;
			}
			&:hover {}
			> a {
				border: none;
				display: block;
				background: none;
				text-transform: none;
				z-index: 100;
				position: relative;
				letter-spacing: 0;
				padding: 0;
				font-weight: 500;
				.box-sizing(border-box);

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 13px;
				}
				&:hover,
				&:active,
				&:focus {
					color: @blue;
					background: none;

					.sf-sub-indicator {
						background-position: -10px -100px;
					}
				}
				>.sf-sub-indicator {
					position: absolute;
					display: inline-block;
					top: 100%;
					left: 50%;
					margin-left: -4px;
					margin-top: 0;
					background: url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
				}
			}
			&.current-menu-item,
			&.sfHover {
				> a {
					color: @blue;
					background: none;

					.sf-sub-indicator {
						background-position: -10px -100px;
					}
				}
			}
			> .sub-menu {
				width: 200px;
				left: 0;
				margin-top: 37px;
				margin-left: -20px;
				top: 100%;
				background: #1b294a;
				border: none;
				padding: 0;
				border-radius: 0;
				z-index: 10;
				.box-sizing(border-box);

				.menu-item {
					text-align: left;
					background: none;
					font: 13px/1.2em @roboto;
					padding: 10px 20px;
					border-top: @white;
					border-top: 1px solid rgba(255,255,255,0.1);
					.box-sizing(border-box);

					&:first-child {
						border: none;
						background: none;
					}
					> a {
						text-transform: none;
						border: none;
						background: none;
						padding: 0;
						display: inline-block;
						-moz-hyphens: auto;
						word-wrap: break-word;

						&:hover,
						&:active,
						&:focus {}
						>.sf-sub-indicator {
							top: 3px;
							right: auto;
							left: -15px;
							background: url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
						}
					}
				}
				> .menu-item {
					> a {
						color: @white;
						background: none;

						&:hover,
						&:active,
						&:focus {
							color: @green;
							background: none;
						}
					}
					&.current-menu-item,
					&.sfHover {
						> a {
							color: @green;
							background: none;

							.sf-sub-indicator {
								background-position: -10px 0;
							}
						}
					}
					> .sub-menu {
						width: 200px;
						background: #1b294a;
						border: none;
						padding: 0;
						left: auto;
						right: 100%;
						top: 0;
						margin-right: 0;
						border-radius: 0;
						.box-sizing(border-box);

						.menu-item {
							padding: 10px 20px;
							border-top: @white;
							border-top: 1px solid rgba(255,255,255,0.1);
							text-align: left;

							&:first-child {
								border: none;
							}
							> a {
								color: @white;
								display: inline-block;
								padding: 0;

								&:hover,
								&:active,
								&:focus {
									color: @green;
									background: none;
								}
							}
							&.current-menu-item {
								> a {
									color: @green;
									background: none;
								}
							}
						}
					}
				}
			}
		}
	}
}
.social-wrap {
	margin: 0 0 0 31px;

	@media (max-width: 767px) {
		margin: 0;
	}
	.social {
		padding: 9px 0 0;
		margin: 0;
		list-style-type: none;

		@media (max-width: 767px) {
			text-align: center;
		}
		li {
			display: inline-block;
			margin: 0 0 0 20px;

			&:first-child {
				margin: 0;
			}
			a {
				font: 21px/1em FontAwesome;
				display: inline-block;
				color: @white;
				.link-hover(@blue);

				&:hover,
				&:active,
				&:focus {
					.rotateY(360deg);
				}
			}
		}
	}
}
/*/ Header */


/* Logo
================================================== */
.logo {
	padding: 0;

	@media (min-width: 768px) and (max-width: 979px) {
		width: 100%;
	}
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&.pull-left {
		float: none;
	}
	.logo_h__txt {
		text-transform: none;

		a {
			&:hover,
			&:active,
			&:focus {
				color: @white;
				text-decoration: none;
			}
		}
	}
}
/*/ Logo */


/* #Content
================================================== */
.title-section {
	margin: 0;
	padding: 30px 0;
	background: #ecebea;
	position: relative;
	z-index: 10;
	text-align: left;
	.left-right;

	&:before,
	&:after {
		z-index: -1;
	}
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	.title-header {
		padding: 0;
		margin: 0 0 15px;
		color: @blueDark;
		text-transform: none;
		overflow: visible;
		font: 500 44px/1.2em @roboto;
		position: relative;
		display: none;
		.box-sizing(border-box);
		
		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 30px;
		}
		@media (max-width: 600px) {
			font-size: 30px;
		}
		small {
			font-size: 20px;

			@media (max-width: 600px) {
				display: block;
			}
		}
		.search & {
			display: block;
		}
	}
	.breadcrumb {
		position: relative;
		background: none;
		display: block;
		margin: 0;
		padding: 0;
		text-transform: none;
		text-shadow: none;
		letter-spacing: 0;
		border: none;
		box-shadow: none;
		border-radius: 0;
		.box-sizing(border-box);

		> li {
			text-shadow: none;
			font: 15px/1.2em @roboto;
			display: inline-block;
			vertical-align: baseline;
			
			@media (max-width: 480px) {
				float: none;
				display: block;
			}
			&.active {
				color: @blueDark;
			}
		}
		a {
			color: @blue;
			text-shadow: none;

			&:hover,
			&:active {
				text-decoration: none;
				color: @blueDark;
			}
		}
		.divider {
			padding: 0 18px;
			vertical-align: baseline;
			display: inline-block;
			
			@media (max-width: 480px) {
				display: none;
			}
			&:after {				
				content: '';
				color: @blueDark;
				font: 15px/1.2em FontAwesome;
			}
		}
	}
}
article {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	.box-sizing(border-box);

	&.post__holder {
		margin-bottom: 60px;
		overflow: visible;

		.post-header {
			margin: 0;
			padding: 0 0 30px;

			@media (max-width: 767px) {
				padding: 0 0 20px;
			}
			.post-title {
				text-align: left;
				font: 500 44px/1.2em @roboto;
				margin: 0;
				padding: 0;
				letter-spacing: 0;
				text-transform: none;
				color: @blueDark;

				@media (max-width: 979px) {
					margin: 0 !important;
				}
				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 30px;
				}
				@media (max-width: 480px) {
					font-size: 30px;
				}
				a {
					color: @blueDark;
					display: inline-block;
					.link-hover(@gray);
				}
			}
		}
		.post_content {
			background: none;
			border-radius: 0;
			padding: 0;	
			.box-sizing(border-box);

			.btn {
				
			}
		}
	}
	.thumbnail {
		margin: 0 30px 20px 0;

		@media (max-width: 320px) {
			width: auto !important;
			display: inline-block;
			float: none;
			margin: 0 0 15px 0;

			img {
				width: 100%;
			}
		}
		&.flexslider {
			margin: 0 0 20px;

			@media (max-width: 320px) {
				display: block;
			}
		}
		&.large {
			margin: 0 0 30px 0;

			@media (min-width: 768px) and (max-width: 979px) {
				float: none !important;
			}
		}
	}
	.post_meta {
		padding: 8px 0;
		border: none;
		position: relative;
		display: block;
		margin: 15px 0;
		overflow: visible;
		background: none;
		border-radius: 0;
		.box-sizing(border-box);

		.post_meta_unite {
			font: 13px/1.2em @roboto;
			border-color: transparent;
			padding-left: 0;

			.meta_group {
				> div {
					padding: 0 20px 0 0;
				}
			}
		}		
		i {
			margin-right: 0;
			padding-right: 5px;
			color: @blue;
			line-height: 17px;
			font-size: 16px;
			vertical-align: middle;
		}
		.post_date {
			time {
				color: @blueDark;
			}
		}
		.post_author a {
			color: @blueDark;
		}
		.post_category a, .post_tag a, .post_tag {
			color: @blueDark;
		}
		.post_comment a {
			color: @blueDark;
		}
		.user_like, .post_views {
			color: @blueDark;
		}
		.post_permalink {
			a {
				color: @blueDark;
			}
		}
		> div {
			a {
				&:hover,
				&:active {
					text-decoration: none;
					color: @gray;
				}
			}
		}
	}
	div.jp-playlist li a:hover, div.jp-playlist li.jp-playlist-current a {
		color: #b8b8b8;
	}
	.quote-wrap {
		blockquote {
			font-family: @roboto;
			font-size: 15px;
			line-height: 1.2em;
			font-style: normal;
			color: #afafaf;
			font-weight: bold;
		}
	}
	.gallery-post {
		padding-bottom: 0;
	}
	&.testimonial {
		background: #fff;
		border-color: @bordercolor;

		.user,
		.info {
			color: #000;
		}
	}
}
.single {
	#content {
		article {
			margin-bottom: 0;

			@media (min-width: 768px) and (max-width: 1000px) {
				.thumbnail {
					float: left;

					img {
						margin: 0;
					}
				}
			}
			@media (max-width: 480px) {
				.thumbnail {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}
		}
		.share-buttons {
			margin: 20px 0 30px;
			background: none;
			padding: 0;
			.box-sizing(border-box);

			.pinterest {
				img {
					vertical-align: top;
				}
			}
		}
		.post-author {
			margin: 60px 0 20px;
			padding: 0;
			border: none;
			background: none;
			border-radius: 3px;

			.post-author_h {
				font: 500 44px/1.2em @roboto;
				margin: 0 0 25px 0;
				letter-spacing: 0;
				text-align: left;
				text-transform: none;
				color: @blueDark;
				display: block;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 30px;
				}
				@media (max-width: 480px) {
					font-size: 30px;
				}
				a {
					color: @blueDark;
					text-transform: none;
					font: 500 44px/1.2em @roboto;
					.link-hover(@gray);

					@media (min-width: 768px) and (max-width: 979px) {
						font-size: 30px;
					}
					@media (max-width: 480px) {
						font-size: 30px;
					}
				}
			}
			.post-author_gravatar {
				display: block;
				margin: 4px 30px 10px 0;

				@media (max-width: 480px) {
					float: none;
					margin: 0 0 20px;
				}
				img {
					width: 100px;
					height: 100px;
					border-radius: 0;
					border: none;
					padding: 0;
					background: none;
				}
			}
			.post-author_desc {
				padding: 0;
				margin: 0;
				text-transform: none;
				color: @gray;
				font: 13px/20px @roboto;			
			}
			.post-author_link {
				margin-top: 15px;
				text-transform: none;
				color: @blueDark;
				font: 13px/1.2em @roboto;

				p {
					margin: 0;
				}
				a {
					color: @blue;
					text-transform: none;
					font: 13px/1.2em @roboto;
					.link-hover(@grayDark);
				}
			}
		}
	}
}
.filter-wrapper {
	margin: 0 0 40px;
	padding: 10px 0;
	position: relative;
	text-align: left;

	@media (max-width: 979px) {
		margin: 20px 0;
		text-align: left;
	}
	strong {
		color: @gray;
		padding: 0;
		font: 15px/1.2em @roboto;
		margin-right: 24px;
		margin-top: 0;
		text-transform: none;
		float: none;
		letter-spacing: 0;
		display: inline-block;
		vertical-align: middle;

		@media (max-width: 979px) {
			margin: 0 0 20px;
		}
	}
	.filter {
		margin: 0;
		display: inline-block;
		float: none;
		position: relative;
		vertical-align: middle;
		top: 0;

		@media (max-width: 979px) {
			float: none;
			display: block;
		}
		li {
			margin: 0;
			float: left;
			font: 15px/1.2em @roboto;
			position: relative;
			display: block;
			
			@media (max-width: 979px) {
				float: none;
				margin: 0 0 5px !important;

				&:before {
					display: none !important;
				}
			}
			&:before {
				content: '|';
				font: inherit;
				color: @gray;
				display: inline-block;
				padding: 0 25px;
			}
			&:first-child {
				margin: 0;

				&:before {
					display: none;
				}
			}
			a {
				color: @blue;				
				padding: 0;
				margin: 0;
				display: inline-block;
				background: none;
				border-radius: 0;
				letter-spacing: 0;
				text-transform: none;

				@media (max-width: 979px) {
					display: inline-block;
				}
				&:active, &:hover, &:focus {
					text-decoration: none;
					color: @blueDark;
					background: none;
				}
			}
		}
		.active {
			a {
				text-decoration: none;
				color: @blueDark;
				background: none;
			}
		}
	}
	.pull-right {
		float: none;
	}
}
.filterable-portfolio {
	li.portfolio_item {
		.portfolio_item_holder {
			position: relative;
			padding: 0;
			background: none;
			border: none;

			.thumbnail {
				margin: 0 0 25px;
				border: none;
				padding: 0;
			}
			.caption {
				padding: 0;
				background: none;
				text-align: left;
				position: relative;
				z-index: 100;
				.box-sizing(border-box);

				h3 {
					text-shadow: none;
					margin: 0 0 10px;
					font: 500 23px/1.2em @roboto;
					
					a {
						color: @blue;
						text-transform: none;
						text-decoration: none;
						.link-hover(@blueDark);
					}
				}
				.excerpt {
					font: 13px/20px @roboto;
					color: @gray;
					text-transform: none;
					margin: 0;
				}
				p {
					margin: 0;
				}
				.btn {
					margin: 15px 0 0;
					.btn-perspective;
				}
			}
		}
	}
}
.portfolio-meta,
.portfolio-meta-list,
.pager {
	border-color: @bordercolor;
}
/*/ Content */


/* #Comments
================================================== */
.related-posts, .comment-holder, #respond {
	margin: 50px 0 0 0;

	h3 {
		font: 500 44px/1.2em @roboto;
		margin: 0 0 25px;
		text-align: left;
		text-transform: none;
		color: @blueDark;
		letter-spacing: 0;
		display: block; 

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 30px;
		}
		@media (max-width: 480px) {
			font-size: 30px;
		}
	}
}
.related-posts {
	.related-posts_item {
		overflow: visible;
	}
	a {
		font: 13px/20px @roboto;
		color: @blue;
		display: inline;
		letter-spacing: 0;
		text-transform: none;
		.link-hover(@blueDark);
	}
	.thumbnail {
		margin: 0 0 20px;
		.box-sizing(border-box);

		a {
			display: inline-block;
			width: 100%;
		}
		img {
			.scale(1) !important;
			.rotate(0) !important;
			.box-sizing(border-box);
		}
	}
}
.comment-holder {
	.pagination {
		margin: 10px 0;
	}
	.comment-list {
		> .comment {
			.children {
				padding-left: 40px;
				background: url(images/reply.png) no-repeat 0 0;
			}
		}
		.comment {
			.comment-body {
				padding: 0;
				margin: 0 0 30px;
				background: none;
				border-radius: 0;
				border: none;

				.comment-author {
					margin: 3px 30px 0 0;
					text-align: left;
					border: none;

					@media (max-width: 480px) {
						float: none;
						margin: 0 0 20px;
					}
					img { 
						width: 100px;
						height: 100px;
						border-radius: 0;
						padding: 0;
						border: none;
						background: none;
					}
					.author {
						width: auto;
						text-align: left;
						font: 13px/1.2em @roboto;
						color: @blueDark;
						padding-top: 20px;
						text-transform: none;

						&:before {
							content: '';
							font: 16px/1.2em FontAwesome;
							color: @blue;
							padding: 0 10px 0 1px;
							display: inline-block;
							vertical-align: middle;
						}
					}
				}
				.extra-wrap {
					padding: 0;
					margin: 0;
					line-height: 20px;
					color: @gray;
					text-transform: none;

					@media (max-width: 480px) {
						overflow: visible;
					}
				}
				.comment-meta {
					margin: 0;
					padding: 15px 0 0 0;
					font: 13px/1.2em @roboto;
					color: @blueDark;
					text-transform: none;

					&:before {
						content: '';
						font: 16px/1.2em FontAwesome;
						color: @blue;
						padding: 0 10px 0 0;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
	}
	.reply {
		padding: 0;

		.comment-reply-link {
			padding: 0;
			.btnBackgroundGreenGradient;

			span {
				vertical-align: middle;

				&:after {
					content: '';
					width: 25px;
					height: 25px;
					display: inline-block;
					margin: 0 0 0 10px;
					vertical-align: middle;
					background: url(images/btn-arrow.png);
				}
			}
			&:hover,
			&:active,
			&:focus {
				color: #fff;

				span {
					color: #fff;
				}
			}
		}
	}
	.children {
		> li {}
	}
	#respond {
		#commentform {
			margin-top: 0;
		}
	}
}
#respond {
	#commentform {
		margin: 15px 0 0;

		textarea {
			min-width: inherit;
			min-height: inherit;
			max-height: inherit;
			min-width: inherit;
			max-width: 100%;
			width: 100%;
			height: 300px;
			padding: 10px 10px;
			.box-sizing(border-box);
		}
		p {
			input {
				max-width: inherit;
				min-width: inherit;
				width: 100%;
				height: 35px;
				padding: 10px 10px;
				margin-bottom: 8px;
				.box-sizing(border-box);

				&:focus {
					box-shadow: none;
				}
			}
		}
		.comment_submit {
			text-align: right;
		}
		.input-btn {
			margin: 20px 0 0;
			float: none;
			.transition;
			.btnBackgroundGreenGradient;

			&:before,
			&:after {
				background: #6b9d22;
			}
			> span {
				padding: 0;
				vertical-align: middle;
				position: relative;

				&:after {
					content: '';
					position: absolute;
					right: 20px;
					top: 15px;
					width: 25px;
					height: 25px;
					margin: 0 0 0 10px;
					background: url(images/btn-arrow.png);
				}
			}
			input {
				display: inline-block;
				margin: 0;
				height: auto;
				width: auto;
				padding: 15px 60px 15px 20px !important;
				font: 500 19px/1.2em @roboto;
				.transition;
			}
			&:hover {
				input {
					color: #fff !important;
				}
			}
		}
	}
}
/*/ Comments */


/* #Widgets
================================================== */
#sidebar.sidebar {
	.widget,
	.banners {
		margin: 50px 0 0 0;

		&:first-child {
			margin: 0;
		}
		> h3 {
			margin: 0 0 25px;
			font: 500 44px/1.2em @roboto; 
			display: block;
			color: @blueDark;
			text-align: left;
			letter-spacing: 0;
			text-transform: none;

			@media (min-width: 768px) and (max-width: 1200px) {
				font-size: 30px;
				line-height: 1.2em;
				-moz-hyphens: auto;
				word-wrap: break-word;
			}
			.ie8 & {
				font-size: 30px;
				line-height: 1.2em;
				word-wrap: break-word;
			}
			@media (max-width: 480px) {
				font-size: 30px;
				line-height: 1.2em;
				-moz-hyphens: auto;
				word-wrap: break-word;
			}
		}
	}
}
[id*="categories"],
[id*="archives"],
.list.custom-list {
	ul {
		margin: 0 0 11px;
		list-style-type: none;
		
		@media (max-width: 767px) {
			margin: 0 0 30px;
		}
		li {
			margin: 0;
			padding: 0;
			z-index: 100;
			color: @blueDark;
			position: relative;
			font: 15px/1.2em @roboto;

			&:before {
				display: none;
			}
			.content_box &,
			.cherry_fixed_parallax & {
				color: #fff;
			}
			a {
				font: inherit;
				color: inherit;
				text-transform: none;
				display: block;
				position: relative;
				overflow: hidden;
				padding: 5px 19px;
				
				&:before {
					content: '';
					font: 17px/1.2em FontAwesome;
					color: @blue;
					position: absolute;
					left: 1px;
					top: 50%;
					width: 100%;
					height: 100%;
					margin-top: -10px;
					display: block;
					.transition;
				}
				&:after {
					content: '';
					width: 0;
					height: 100%;
					background: @blueDark;
					position: absolute;
					top: 0;
					left: 0;
					z-index: -1;
					border-radius: 0 30px 30px 0;
					.transition;

					.content_box &,
					.cherry_fixed_parallax & {
						background: #fff;
					}
				}
				&:hover,
				&:active,
				&:focus {
					color: #fff;
					text-decoration: none;
					background: none;

					.content_box &,
					.cherry_fixed_parallax & {
						color: #333;
					}
					&:after {
						width: 100%;
					}
					&:before {
						.translateX(100%);
						margin-left: -20px;
						color: #fff;

						.ie8 & {
							display: none;
						}
						.content_box &,
						.cherry_fixed_parallax & {
							color: #333;
						}
					}
				}
			}
		}
	}
}
[id*="my_poststypewidget"] {
	.post-list {
		margin: 0;

		li {
			padding: 0;
			margin: 30px 0 0 0;
			overflow: visible;
			position: relative;

			&:first-child {
				margin-top: 0;
				border: none;
			}
			.thumbnail {
				margin: 0 0 30px;
				float: none;
			}
			.desc {
				overflow: hidden;
			}
			.post-list_h {
				font: 500 23px/1.2em @roboto;
				text-transform: none;
				letter-spacing: 0;
				margin: 20px 0;
				display: block;

				a {
					color: @blue;
					.link-hover(@blueDark);
				}
			}
			time,
			.post-list_comment {
				display: block;
				padding: 0;
				text-transform: none;
				color: @blueDark;
				font: 13px/20px @roboto;
			}
			time {
				&:before {
					content: '';
					font: 16px/20px FontAwesome;
					color: @blue;
					display: inline-block;
					padding: 0 10px 0 0;
				}
			}
			.excerpt {
				overflow: hidden;
				margin: 0;
				color: @gray;
				line-height: 20px;
			}
			.btn {
				margin-top: 10px;
				border: none;
				background: none;
				color: #fff;
				font: 14px/22px @roboto;
				padding: 0;
				border-bottom: 1px solid #fff !important;
				.link-hover(#0c0c0c);

				&:before,
				&:after {
					display: none;
				}
				span {
					padding: 0;
				}
				&:hover,
				&:active,
				&:focus {
					border-color: #0c0c0c !important;
				}
			}
		}
	}
}
[id*="my-recent-comments"] {
	.comments-custom {
		.comments-custom_li {
			padding: 20px 0;

			&:first-child {
				padding-top: 0;
				border: none;
			}
			.featured-thumbnail {
				margin: 0 25px 20px 0;				
				box-shadow: none;
				border-radius: 0;
				.box-sizing(border-box);

				@media (min-width: 768px) and (max-width: 979px) {
					float: none;
					margin: 0 0 15px;
				}
				@media (max-width: 480px) {
					float: none;
					margin: 0 0 15px;
				}
			}
			i {
				color: @blue;
				font-size: 16px;
			}
			time {
				margin: 0;
				color: @blueDark;
				display: inline-block;
				text-transform: none;
				font: 13px/20px @roboto;
			}
			.comments-custom_h_author {
				font: 13px/20px @roboto;
				text-transform: none;
				margin: 0;
				color: @blueDark;				
			}
			.comments-custom_h_author {
				margin-top: 0;
			}
			.comments-custom_h_title {
				font: 500 23px/1.2em @roboto;

				a {
					color: @blue;
					.link-hover(@blueDark);
				}
			}
			.comments-custom_txt {
				border: none;
				overflow: hidden;
				margin: 0;
				padding: 20px 0 0 0;

				a {
					color: @gray;
					.link-hover(@blueDark);
				}
			}
		}
	}
}
[id*="my_postwidget"] {
	.post-list {
		.post-list_li {
			.post-list_h {
				font: 18px/1.2em @sansFontFamily;
			}
		}
	}
}
#wp-calendar {
	caption,
	thead tr th {
		color: @blue;
		font-family: @sansFontFamily;
	}
}
.search-form {
	.search-form_it {
		margin: 0;
		height: 50px;
	}
	.search-form_is {
		margin: 13px 0 0 15px;
		padding: 0 !important;
		height: auto;
		background: none;
		box-shadow: none;
		color: @blue;
		letter-spacing: 0;

		@media (min-width: 768px) and (max-width: 1200px) {
			margin: 10px 0 0 0;
			display: block;
		}
		@media (max-width: 480px) {
			margin: 10px 0 0 0;
			display: block;
		}
		&:hover {
			color: #3d4140;
		}
	}
}
#content.left,
#sidebar {
	@media (max-width: 767px) {
		float: none !important;
	}
}
.flexslider {
	margin: 0 0 20px;

	.flex-control-nav {
		bottom: auto !important;
		margin: 20px 0 0 0;
		position: relative !important;
	}
}
.widget-flexslider {
	background: none;

	.ie8 & {
		overflow: hidden;
	}
	.flex-control-paging {
		position: relative;
		bottom: 0;
		margin: 20px 0 0 0;
	}
	.flex-prev,
	.flex-next {
		&:hover,
		&:active {
			text-decoration: none !important;
		}
	}
}
.banners {
	.banners_li {
		margin: 0 20px 20px 0;
	}
}
/*/ Widgets */


/* #Shortcodes
================================================== */
#content.row {
	padding: 50px 0 0;
}
.title-box {
	margin: 0 0 20px;
	text-align: left;

	@media (max-width: 767px) {
		margin: 30px 0 20px;
	}
	.title-box_primary {
		font: 500 44px/1.2em @roboto;
		color: @blueDark;
		text-transform: none;
		margin: 0;
		display: block;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 30px;
		}
		@media (max-width: 480px) {
			font-size: 30px;
		}
	}
	.title-box_secondary {
		margin: 10px 0 0;
		color: @blue;
		letter-spacing: 0;
		text-transform: none;
		font: 500 23px/30px @roboto;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 20px;
		}
		@media (max-width: 480px) {
			font-size: 20px;
		}
	}
}
div.type-page {
	p {
		margin: 0 0 20px;
	}
	.btn {
		&.btn-mini {
			.btn-perspective;
		}
		span {
			i {
				margin: 0 0 0 10px;

				&.icon-circle-arrow-right {
					&:before {
						content: '';
						width: 25px;
						height: 25px;
						display: inline-block;
						vertical-align: top;
						background: url(images/btn-arrow.png);
					}
				}
			}
		}
	}
	.extra-wrap {
		background: @white;
		background: rgba(255,255,255,0.8);
		border: 1px solid @white;
		padding: 15px 30px 30px;

		@media (max-width: 767px) {
			margin: 20px 0;
		}
		.title-box {
			margin: 0 0 10px;

			.title-box_primary {
				font-size: 54px;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 30px;
				}
				@media (max-width: 480px) {
					font-size: 30px;
				}
			}
			.title-box_secondary {
				font-size: 28px;
				line-height: 1.2em;
				margin: 0;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 20px;
				}
				@media (max-width: 480px) {
					font-size: 20px;
				}
			}
		}
		.list.custom-list {
			margin: 0 0 15px;
		}
	}
}
.spacer {
	height: 40px;
}
.service-box {
	background: none;
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;

	.icon {
		position: relative;
		width: 70px;
		height: 70px;
		border-radius: 50%;
		text-align: center;
		margin: 0 30px 20px 0;
		background: @blueDark;

		@media (min-width: 768px) and (max-width: 979px) {
			float: none;
			margin: 0 0 20px;
		}
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: @blue;
			border-radius: 50%;
			z-index: 10;
			.scale(0);
			.transition;

			.ie8 & {
				display: none;
			}
		}
		i {
			position: relative;
			z-index: 100;
			font-size: 34px;
			line-height: 70px;
			color: @white;
			display: inline-block;
			.transition;
		}
	}
	&:hover {
		.icon {
			&:before {
				.scale(1);
			}
			i {
				.rotateY(360deg);
			}
		}
	}
	.service-box_body {
		.title {
			font: 500 23px/1.3em @roboto;
			color: @blue;
			overflow: hidden;
			margin: 20px 0;

			@media (min-width: 768px) and (max-width: 979px) {
				margin: 0 0 20px;
			}
			a {
				color: inherit;
				.link-hover(@blueDark);
			}
		}
	}
	&.teacher-goals {}
}
.testimonials {
	.testi-item {
		margin: 0;
		padding: 20px 0;

		.testi-item_blockquote {
			background: none;
			border-radius: 0;
			padding: 0;

			@media (max-width: 767px) {
				.parallax-box & {
					background: @white;
					background: rgba(255,255,255,0.5);
					padding: 10px;
				}
			}
			&:before,
			&:after {
				display: none;
			}
			.featured-thumbnail {
				margin: 0 0 10px;
				float: none;
			}
			a {
				font: 500 23px/30px @roboto;
				color: @blueDark;
				display: inline-block;
				overflow: hidden;
				.link-hover(@blue);
			}
		}
		.testi-meta {
			padding: 20px 0 0;

			span {
				color: @blueDark;
				font: 500 44px/1.2em @roboto;

				@media (min-width: 768px) and (max-width: 979px) {
					font-size: 30px;
				}
				@media (max-width: 480px) {
					font-size: 30px;
				}
				&:after {
					display: none;
				}
				&.info {
					display: none;
				}
			}
			a {
				font: 500 23px/30px @roboto;
				color: @blue;
				.link-hover(@blueDark);
			}
		}
	}
}
.posts-grid {
	li {
		.thumbnail {
			.ie8 & {
				width: 100%;
			}
		}
	}
	&.our-tutors {
		li {
			position: relative;
			overflow: hidden;

			@media (max-width: 767px) {
				width: 31.623931623931625%;
				*width: 31.570740134569924%;
				display: inline-block;
				vertical-align: top;
				margin: 20px 0 20px 2.564102564102564%;

				&:nth-child(3n+1) {
					margin: 20px 0;
				}
			}
			@media (max-width: 480px) {
				width: 48%;
				margin: 20px 0 20px 4%;

				&:nth-child(3n+1) {
					margin: 20px 0 20px 4%;
				}
				&:nth-child(2n+1) {
					margin: 20px 0;
				}
			}
			.thumbnail {
				margin: 0;
			}
			.desc {
				background: @blueDark;
				background: rgba(4,20,57,0.9);
				padding: 5px;
				.box-sizing(border-box);
				.transition;

				@media only screen and (min-width: 979px) {
					position: absolute;
					height: auto;
					padding: 5px 15px;
					.translateY(100%);
					bottom: 0;
					left: 0;
					width: 100%;
				}
				h5 {
					font: 15px/19px @roboto;
					margin: 0;

					@media (min-width: 768px) and (max-width: 979px) {
						font-size: 13px;
						line-height: 1.3em;
					}
					a {
						color: @white;
						.link-hover(@blue);
					}
				}
			}
			&:hover {
				.thumbnail {
					a {
						@media only screen and (min-width: 979px) {
							img {
								transform: scale(1.2) rotate(-5deg);
								-webkit-transform: -webkit-scale(1.2) -webkit-rotate(-10deg);
							}
						}
					}
				}
				.desc {
					@media only screen and (min-width: 979px) {
						.translateY(0);
					}
				}
			}
			&.hidden {
				display: none;
			}
			&.last-box {
				height: 170px;

				@media (min-width: 980px) and (max-width: 1200px) {
					height: 140px;
				}
				.ie8 & {
					height: 140px;
				}
				@media (min-width: 768px) and (max-width: 979px) {
					height: 104px;
				}
				@media (max-width: 767px) {
					height: auto;
					margin: 20px 0 20px 2.564102564102564%;
				}
				@media only screen and (min-width: 1200px) {
					&:before {
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background: @bordercolor;
						.scale(0);
						.transition;
					}
					&:hover {
						&:before {
							.scale(1);
						}
					}
				}
				> div {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					text-align: center;
					height: 100%;

					@media (max-width: 767px) {
						position: relative;
						text-align: center;
					}
					a {
						display: inline-block;
						vertical-align: middle;
						font: 500 19px/24px @roboto;
						color: @green;
						text-decoration: underline;
						.link-hover(@blueDark);

						@media (min-width: 768px) and (max-width: 979px) {
							font-size: 13px;
							line-height: 1.3em;
						}
					}
					.helper{
						display: inline-block;
						vertical-align: middle;
						width: 0;
						height: 100%;
					}
				}
			}
		}
		&.ul-item-1 {
			.list-item-6 {
				display: none;
			}
		}
	}
	&.without-zoom {}
}
.parallax-box {
	&.image-parallax-box {
		.parallax-content {
			padding: 60px 0;
		}
	}
	&.with-top-padding {
		.parallax-content {
			padding: 470px 0 30px;

			@media (min-width: 768px) and (max-width: 979px) {
				padding: 100px 0 30px;
			}
			@media (max-width: 767px) {
				padding: 20px 0;
			}
		}
	}
	.parallax-bg {
		.parallax-img {
			@media (max-width: 767px) {
				top: 0 !important;
				height: 100% !important;
				background-size: cover !important;
			}
		}
	}
}
.hr {
	background: #e5e5e5;
	margin: 40px 0;
}
.search-box {
	margin: 20px 0 0;
	background: #f4f5f4;
	border: 1px solid #e5e5e5;
	padding: 25px 30px 30px;
	position: relative;
	z-index: 1000;

	@media (min-width: 768px) and (max-width: 979px) {
		padding: 15px;
	}
	@media (max-width: 480px) {
		padding: 15px;
	}
	@media (max-width: 767px) {
		margin: 30px 0 90px;
	}
	h4 {
		font: 500 28px/1.2em @roboto;
		color: @green;
		margin: 0 0 15px;
	}
	form {
		margin: 0;
		position: relative;
		z-index: 1000;
	}
	label {
		font: 15px/1.2em @roboto;
		color: @blueDark;
		margin: 0 0 6px;
	}
	input,
	select {
		width: 100%;
	}
	.fieldset-portfolio_info {
		position: relative;
		/*z-index: 100;*/

		input {
			margin: 0;
		}
	}
	.btn {
		margin-top: 20px;
		position: relative;
		z-index: 10;
		.transition;
		.btnBackgroundBlueGradient;

		&:before,
		&:after {
			background: #0e94d9;
		}
		> span {
			padding: 0;
			vertical-align: middle;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				right: 20px;
				top: 14px;
				font: 19px/1.2em FontAwesome;
				color: @white;
				display: inline-block;
			}
		}
		input {
			display: inline-block;
			margin: 0;
			height: auto;
			width: auto;
			padding: 15px 50px 15px 20px !important;
			font: 500 19px/1.2em @roboto;
			.transition;
		}
		&:hover {
			input {
				color: #fff !important;
			}
		}
	}
}
.portfolio-search-wrap {
	font-size: 0;

	.no-results {
		font-size: 14px;
	}
	article {
		width: 31.623931623931625%;
		*width: 31.570740134569924%;
		display: inline-block;
		margin: 0 0 30px 2.564102564102564%;
		vertical-align: top;

		&.item-1,
		&.item-4,
		&.item-7,
		&.item-10,
		&.item-13,
		&.item-16,
		&.item-19,
		&.item-22 {
			margin: 0 0 30px 0;
		}
		@media (max-width: 767px) {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		@media (max-width: 480px) {
			width: 48%;
			margin: 20px 0 20px 4% !important;

			&:nth-child(2n+1) {
				margin: 20px 0 !important;
			}
		}
		@media (max-width: 380px) {
			width: 100%;
			display: block;
			margin: 20px 0 !important;
		}
		figure {
			width: 100%;
			float: none;
			margin: 0 0 20px;
		}
		h4 {
			font: 500 23px/28px @roboto;
			margin: 0;

			a {
				color: @blueDark;
				.link-hover(@blue);
			}
		}
	}
}
.fieldset-portfolio_category {
	position: relative;
	/*z-index: 1000;*/
	margin: 0 0 15px;
}
.jq-selectbox {
	vertical-align: middle;
	cursor: pointer;
	position: relative;
	/*z-index: 1000;*/
	width: 100%;
	display: block;
}
.jq-selectbox__select {
	height: 36px;
	padding: 0 34px 0 10px;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	background: @white;
	color: @gray;
	font: 13px/36px @roboto;	
}
.jq-selectbox__select:hover {
	background-color: @white;
	background-position: 0 -10px;
}
.jq-selectbox__select:active {
	background: @white;
}
.jq-selectbox.focused .jq-selectbox__select {
	border: 1px solid @blueDark;
}
.jq-selectbox.disabled .jq-selectbox__select {
	border-color: #d9d9d9;
	background: @white;
	box-shadow: none;
	color: @gray;
}
.jq-selectbox__select-text {
	display: block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.jq-selectbox .placeholder {
	color: @gray;
}
.jq-selectbox__trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
}
.jq-selectbox__trigger-arrow {
	position: absolute;
	top: 3px;
	right: 3px;
	width: 28px;
	height: 28px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	text-align: center;

	&:after {
		content: '';
		font: 18px/28px FontAwesome;
		color: @blue;
		position: relative;
		top: -5px;
		display: inline-block;
		.transition;
	}
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
	&:after {
		color: @gray;
	}
}
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
	&:after {
		color: @gray;
	}
}
.jq-selectbox__dropdown {
	top: 100%;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 1px solid #e5e5e5;
	border-radius: 0;
	background: @white;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 14px/18px Arial, sans-serif;

	ul {
		max-height: 150px !important;
	}
}
.jq-selectbox__search {
	margin: 5px;
}
.jq-selectbox__search input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	padding: 5px 27px 6px 8px;
	outline: none;
	border: 1px solid #CCC;
	border-radius: 3px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow: inset 1px 1px #F1F1F1;
	color: #333;
	-webkit-appearance: textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.jq-selectbox__not-found {
	margin: 5px;
	padding: 5px 8px 6px;
	background: #F0F0F0;
	font-size: 13px;
}
.jq-selectbox ul {
	margin: 0;
	padding: 5px 0;
}
.jq-selectbox li {
	min-height: 18px;
	padding: 5px 20px 6px;
	color: #777;
}
.jq-selectbox li.selected {
	background-color: @green;
	color: #FFF;
}
.jq-selectbox li:hover {
	background-color: @green;
	color: #FFF;
}
.jq-selectbox li.disabled {
	color: #e5e5e5 !important;
	background: @white !important;
}
.jq-selectbox li.disabled:hover {
	background: none;
}
.jq-selectbox li.optgroup {
	font-weight: bold;
}
.jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.jq-selectbox li.option {
	padding-left: 25px;
}
/*/ Shortcodes */


/* #Footer
================================================== */
.footer {
	background: none;
	border: none;
	padding: 29px 0 34px;
}
.footer-text {
	padding: 0;
	font: 13px/1.2em @roboto;
	color: @gray;
	text-transform: none;
	text-align: left;
	float: none;
	margin: 0;

	@media (max-width: 767px) {
		text-align: center;
		margin: 0 0 30px;
	}
	.footer-logo {
		display: block;
		margin: 0 0 7px;

		@media (max-width: 767px) {
			margin: 0 0 10px;
			display: block;
		}
	}
	a {
		color: #7b7979;
		.link-hover(@blue);
	}
	span {
		@media (max-width: 767px) {
			padding: 0;
			display: block;
		}
	}
}
nav.nav.footer-nav {
	float: none;
	margin: 0;
	padding: 13px 0 0;
	
	@media (max-width: 767px) {
		padding: 10px 0;
	}
	ul {
		float: none;
		text-align: right;
		line-height: inherit;
		
		@media (max-width: 767px) {
			text-align: center;
		}
		li {
			float: none;
			display: inline-block;
			line-height: inherit;
			padding: 0;
			text-transform: none;			
			margin: 0 0 0 25px;
			padding: 0;
			position: relative;

			@media (max-width: 979px) {
				margin: 0 0 0 5px;
			}
			@media (max-width: 480px) {
				display: block;
				margin: 5px 0;
			}
			a {
				font-weight: 500;

				@media (max-width: 979px) {
					font-size: 16px;
				}
			}
			&:first-child {
				margin: 0;

				&:before {
					display: none;
				}
			}
			&.current-menu-item a, a:hover {
				color: @blue;
				text-decoration: none;
			}
		}
	}
}
/*/ Footer */


/* #Misc
================================================== */
.slider-wrap {
	min-height: inherit;
}
.slider {
	.container {
		width: 100%;

		.camera {
			.camera_commands,
			.camera_prev,
			.camera_next,
			.camera_caption {
				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}
}
.zoom-icon {
	background: none !important;

	.ie8 & {
		background: url(images/zoom-bg.png) !important;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		background: url(images/zoom-bg.png);
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 0;
		z-index: 10;
		transition: 400ms all 100ms;
		-webkit-transition: 400ms all 100ms;
		-o-transition: 400ms all 100ms;
		.scale(0);

		.ie8 & {
			display: none;
		}
	}
	&:before {
		content: '';
		background: url(images/zoom.png); 
		width: 50px;
		height: 50px;
		margin: -25px 0 0 -25px;
		z-index: 100;
		.scale(0);
		.transition;
	}
}
.thumbnail {
	a {
		img {
			transition: transform 200ms linear;
			-webkit-transition: -webkit-transform 200ms linear;
		}
	}
	&:hover {
		.zoom-icon {
			&:before {
				.scale(1);
			}
			&:after {
				.scale(1);
			}
		}
		a {
			@media only screen and (min-width: 979px) {
				img {
					transform: scale(1.2) rotate(-5deg);
					-webkit-transform: -webkit-scale(1.2) -webkit-rotate(-10deg);
				}
			}
		}
	}
}
#back-top-wrapper {
	z-index: 200;
	right: 20px;
	bottom: 20px;

	#back-top {
		margin: 0;

		a {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			text-align: center;
			background: none;
			.box-sizing(border-box);

			&:after {
				content: '';
				font: 44px/1em FontAwesome;
				color: @blue;
				display: inline-block;
				position: relative;
				z-index: 100;				
				.transition;
			}			
			span {
				display: none;
			} 
			&:hover {
				border: none;

				&:after {
					.rotateY(360deg);
					color: @blueDark;
				}
			}
		}
	}
}
#wpadminbar {
	@media (max-width: 600px) {
		top: -46px !important;
	}
}
.error404-holder {
	padding: 80px 0;

	.error404-holder_num {
		color: @blue;
		font-weight: 100;

		@media (min-width: 768px) and (max-width: 979px) {
			font-size: 150px;
		}
	}
}
.archive_h {
	@media (max-width: 767px) {
		margin-top: 30px;
	}
}
blockquote p {
	line-height: 22px;
}
.faq-list {
	.marker {
		font-size: 15px !important;
		color: @blue;
		margin-top: 2px;
	}
}
.ie9, .ie8 {
	.wpcf7-form {
		p {
			input[type="text"],
			input[type="email"] {
				padding-top: 8px;
			}
		}
	}
	#search-header {
		.search-form_it {
			padding-top: 7px;
		}
	}
	.search-form {
		.search-form_it {
			padding-top: 7px;
		}
	}
}
.ie8 {
	.wpcf7 {
		.wpcf7-form {
			.wpcf7-not-valid-tip {
				font-size: 12px !important;
			}
		}
	}
	#sidebar,
	#content,
	.footer-widgets {
		.search-form {
			.search-form_is {
				display: block;
				margin: 0;
			}
		}
	}
	.search-form {
		.search-form_it {
			display: block;
			margin: 0 0 10px;
		}
		.input-btn {
			margin: 0;
		}
	}
	.comment-author {
		width: 80px !important;
		height: auto !important;
		margin-right: 20px !important;

		img {
			width: 80px !important;
			height: 80px !important;
		}
	}	
	.post-author_gravatar {
		width: 80px !important;
	}
	#respond {
		#commentform {
			p {
				input {
					padding-top: 7px;
					height: 36px;

					&[type="submit"] {
						height: auto;
						padding: 0;
					}
				}
			}
		}
	}
	.flexslider {
		.flex-direction-nav {
			li {
				a {
					&:hover,
					&:active,
					&:focus { 
						text-decoration: none;
					}
				}
			}
		}
	}
}
/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";