@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
.main-holder {
	z-index:100;
	overflow: hidden;
}
.header { z-index:101; }
.content-holder {
	z-index:100;
	background:#fff;
	position:relative;
}
.footer { z-index:99; }
@media (max-width: 767px) {
	body { padding:0; }
	body .header { padding:0 20px; }
	body .footer {
		padding:20px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	body .content-holder { padding:0 20px 40px 20px !important; }
	body.home .content-holder { padding:0 !important; }
	body.home .content-holder >.container { padding:0 20px 40px !important; }
}
a { transition:all 0.3s ease 0s; }
.featured-thumbnail, .thumbnail, figure.frame {
	background:none;
	border-radius:0;
	padding:0;
	box-shadow:none;
	border:none;
	overflow: hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.featured-thumbnail img, .thumbnail img, figure.frame img {
	display:inline-block;
	border-radius:0;
	border:none;
	padding:0;
	background:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
figure.frame {
	margin-left:0;
	text-align:left;
}
figure.frame p { margin:0 !important; }
@media (max-width: 767px) {
	figure.frame { text-align:center; }
}
figure.frame.alignnone { margin:5px 0 25px; }
@media (max-width: 767px) {
	figure.frame.alignnone {
		margin:20px 0;
		text-align:left;
	}
}
figure.frame.alignleft { margin:9px 30px 20px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	figure.frame.alignleft {
		float:none;
		margin:0 0 20px;
	}
}
@media (max-width: 600px) {
	figure.frame.alignleft {
		margin:0 0 20px 0;
		float:none;
	}
}
figure.frame.alignright { margin:0 0 10px 30px; }
@media (min-width: 768px) and (max-width: 979px) {
	figure.frame.alignright {
		float:none;
		margin:0 0 20px 0;
	}
}
@media (max-width: 550px) {
	figure.frame.alignright {
		float:none;
		margin:20px 0 20px 0;
	}
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding:7px 10px;
	margin:0 0 10px 0;
	font-size:13px;
	line-height:1.2em;
	text-transform:none;
	color:#777;
	text-decoration:none;
	position:relative;
	height:36px;
	border-radius:0;
	background:#fff;
	box-shadow:none;
	border:1px solid #e5e5e5;
	transition:all 0.3s ease 0s;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .uneditable-input::-moz-placeholder {
	color:#777;
	opacity:1;
}
textarea::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="datetime"]::-ms-input-placeholder, input[type="datetime-local"]::-ms-input-placeholder, input[type="date"]::-ms-input-placeholder, input[type="month"]::-ms-input-placeholder, input[type="time"]::-ms-input-placeholder, input[type="week"]::-ms-input-placeholder, input[type="number"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="url"]::-ms-input-placeholder, input[type="search"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="color"]::-ms-input-placeholder, .uneditable-input::-ms-input-placeholder { color:#777; }
textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#777; }
textarea:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="color"]:-moz-placeholder, .uneditable-input:-moz-placeholder { color:#777; }
textarea:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="color"]:-ms-input-placeholder, .uneditable-input:-ms-input-placeholder { color:#777; }
textarea::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder, .uneditable-input::-webkit-input-placeholder { color:#777; }
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	background:#f5f5f5;
	box-shadow:none;
	border-color:#202121 !important;
}
div.wpcf7 { padding:10px 0; }
div.wpcf7 .wpcf7-form p { margin-bottom:10px; }
div.wpcf7 .wpcf7-form p input[type="text"], div.wpcf7 .wpcf7-form p input[type="email"] {
	padding:15px 20px;
	margin:0;
	height:50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
div.wpcf7 .wpcf7-form p input[type="text"]:focus, div.wpcf7 .wpcf7-form p input[type="email"]:focus { border-color:#202121 !important; }
div.wpcf7 .wpcf7-form textarea {
	margin-bottom:10px;
	min-height:290px;
	padding:15px 20px;
}
div.wpcf7 .wpcf7-form textarea:focus { border-color:#202121 !important; }
div.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
	padding:12px 10px !important;
	vertical-align:middle;
}
@media (min-width: 980px) and (max-width: 1200px) {
	div.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { font-size:12px !important; }
}
.ie8 div.wpcf7 .wpcf7-form .wpcf7-not-valid-tip { font-size:12px !important; }
@media (min-width: 768px) and (max-width: 979px) {
	div.wpcf7 .wpcf7-form .wpcf7-not-valid-tip {
		font-size:9px !important;
		padding:6px 7px !important;
	}
}
div.wpcf7 .wpcf7-form .submit-wrap {
	position:relative;
	text-align:left;
}
@media (max-width: 767px) {
	div.wpcf7 .wpcf7-form .submit-wrap { text-align:center; }
}
div.wpcf7 .wpcf7-form .submit-wrap .btn { height:auto; }
div.wpcf7 .wpcf7-form .submit-wrap input {
	margin:0;
	height:auto;
	display:inline-block;
}
div.wpcf7 .wpcf7-form .submit-wrap .input-btn { margin-right:20px; }
@media (max-width: 767px) {
	div.wpcf7 .wpcf7-form .submit-wrap .input-btn { margin:10px; }
}
div.wpcf7 .wpcf7-form .submit-wrap .input-btn span input[type="submit"], div.wpcf7 .wpcf7-form .submit-wrap .input-btn span input[type="reset"] {
	padding:15px 90px 15px 30px !important;
	text-transform:capitalize;
	margin:0;
}
div.wpcf7 .wpcf7-form .submit-wrap .ajax-loader {
	position:absolute;
	right:-22px;
	top:9px;
}
div.wpcf7 .wpcf7-form .submit-wrap input[type="submit"], div.wpcf7 .wpcf7-form .submit-wrap input[type="reset"] { height:auto; }
.header {
	padding:0;
	border:none;
}
.header .span7 { text-align:right; }
@media only screen and (min-width: 1200px) {
	.home .header {
		background:none;
		position:absolute;
		top:0;
		left:0;
		width:100%;
	}
	.home .header .header-bg {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		opacity:0.9;
		filter:alpha(opacity=90);
	}
}
.nav-wrap {
	position:relative;
	padding:30px 0 34px;
	z-index:100;
	background:transparent;
	transition:background 300ms;
	-webkit-transition:background 300ms;
	-moz-transition:background 300ms;
	-webkit-transform:translateZ(0);
	position:relative;
}
.nav-wrap > div {
	position:relative;
	z-index:10;
}
.nav-wrap:before, .nav-wrap:after {
	content:"";
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width:101%;
	background:inherit;
	border:inherit;
	z-index:1;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.nav-wrap:before { left:-100%; }
.nav-wrap:after { right:-100%; }
@media (max-width: 767px) {
	.nav-wrap { padding:20px 0; }
}
.nav-wrap:before, .nav-wrap:after { display:none; }
@media only screen and (min-width: 998px) {
	.nav-wrap.isStuck {
		padding:10px 0;
		background:#1b294a;
		width:100%;
	}
	.nav-wrap.isStuck:before, .nav-wrap.isStuck:after { display:block; }
	.nav-wrap.isStuck .nav__primary { padding:0; }
	.nav-wrap.isStuck .nav__primary .sf-menu > .menu-item > .sub-menu { margin-top:16px; }
}
@media (max-width: 998px) {
	.nav-wrap.isStuck {
		position:relative !important;
		top:0 !important;
		border:none;
		background:none !important;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
}
.ie8 .nav-wrap.isStuck {
	position:relative !important;
	top:0 !important;
	border:none;
	background:none !important;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
@media (max-width: 998px) {
	.pseudoStickyBlock { height:0 !important; }
}
.menu-wrap, .social-wrap {
	display:inline-block;
	vertical-align:middle;
}
@media (max-width: 767px) {
	.menu-wrap, .social-wrap { display:block; }
}
.nav__primary {
	padding:6px 0 0;
	margin:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (max-width: 767px) {
	.nav__primary { padding:10px 0; }
}
.nav__primary .select-menu { height:40px; }
.nav__primary .sf-menu {
	float:right;
	padding:0;
	position:relative;
}
.nav__primary .sf-menu > .menu-item {
	display:inline-block;
	float:left;
	vertical-align:middle;
	background:none;
	position:relative;
	padding:0;
	margin:0 0 0 28px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.nav__primary .sf-menu > .menu-item { margin:0 0 0 10px; }
}
.ie8 .nav__primary .sf-menu > .menu-item { margin:0 0 0 10px; }
.nav__primary .sf-menu > .menu-item:first-child {
	margin:0;
	border:none;
}
.nav__primary .sf-menu > .menu-item > a {
	border:none;
	display:block;
	background:none;
	text-transform:none;
	z-index:100;
	position:relative;
	letter-spacing:0;
	padding:0;
	font-weight:500;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
	.nav__primary .sf-menu > .menu-item > a { font-size:13px; }
}
.nav__primary .sf-menu > .menu-item > a:hover, .nav__primary .sf-menu > .menu-item > a:active, .nav__primary .sf-menu > .menu-item > a:focus {
	color:#49bffc;
	background:none;
}
.nav__primary .sf-menu > .menu-item > a:hover .sf-sub-indicator, .nav__primary .sf-menu > .menu-item > a:active .sf-sub-indicator, .nav__primary .sf-menu > .menu-item > a:focus .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu > .menu-item > a >.sf-sub-indicator {
	position:absolute;
	display:inline-block;
	top:100%;
	left:50%;
	margin-left:-4px;
	margin-top:0;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.nav__primary .sf-menu > .menu-item.current-menu-item > a, .nav__primary .sf-menu > .menu-item.sfHover > a {
	color:#49bffc;
	background:none;
}
.nav__primary .sf-menu > .menu-item.current-menu-item > a .sf-sub-indicator, .nav__primary .sf-menu > .menu-item.sfHover > a .sf-sub-indicator { background-position:-10px -100px; }
.nav__primary .sf-menu > .menu-item > .sub-menu {
	width:200px;
	left:0;
	margin-top:37px;
	margin-left:-20px;
	top:100%;
	background:#1b294a;
	border:none;
	padding:0;
	border-radius:0;
	z-index:10;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nav__primary .sf-menu > .menu-item > .sub-menu .menu-item {
	text-align:left;
	background:none;
	font:13px/1.2em 'Roboto', sans-serif;
	padding:10px 20px;
	border-top:#fff;
	border-top:1px solid rgba(255,255,255,0.1);
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nav__primary .sf-menu > .menu-item > .sub-menu .menu-item:first-child {
	border:none;
	background:none;
}
.nav__primary .sf-menu > .menu-item > .sub-menu .menu-item > a {
	text-transform:none;
	border:none;
	background:none;
	padding:0;
	display:inline-block;
	-moz-hyphens:auto;
	word-wrap:break-word;
}
.nav__primary .sf-menu > .menu-item > .sub-menu .menu-item > a >.sf-sub-indicator {
	top:3px;
	right:auto;
	left:-15px;
	background:url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > a {
	color:#fff;
	background:none;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > a:hover, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > a:active, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > a:focus {
	color:#75b020;
	background:none;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item.current-menu-item > a, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item.sfHover > a {
	color:#75b020;
	background:none;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item.current-menu-item > a .sf-sub-indicator, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item.sfHover > a .sf-sub-indicator { background-position:-10px 0; }
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu {
	width:200px;
	background:#1b294a;
	border:none;
	padding:0;
	left:auto;
	right:100%;
	top:0;
	margin-right:0;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item {
	padding:10px 20px;
	border-top:#fff;
	border-top:1px solid rgba(255,255,255,0.1);
	text-align:left;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item:first-child { border:none; }
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item > a {
	color:#fff;
	display:inline-block;
	padding:0;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item > a:hover, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item > a:active, .nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item > a:focus {
	color:#75b020;
	background:none;
}
.nav__primary .sf-menu > .menu-item > .sub-menu > .menu-item > .sub-menu .menu-item.current-menu-item > a {
	color:#75b020;
	background:none;
}
.social-wrap { margin:0 0 0 31px; }
@media (max-width: 767px) {
	.social-wrap { margin:0; }
}
.social-wrap .social {
	padding:9px 0 0;
	margin:0;
	list-style-type:none;
}
@media (max-width: 767px) {
	.social-wrap .social { text-align:center; }
}
.social-wrap .social li {
	display:inline-block;
	margin:0 0 0 20px;
}
.social-wrap .social li:first-child { margin:0; }
.social-wrap .social li a {
	font:21px/1em FontAwesome;
	display:inline-block;
	color:#fff;
}
.social-wrap .social li a:hover, .social-wrap .social li a:active, .social-wrap .social li a:focus {
	text-decoration:none;
	color:#49bffc;
}
.social-wrap .social li a:hover, .social-wrap .social li a:active, .social-wrap .social li a:focus {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}
.logo { padding:0; }
@media (min-width: 768px) and (max-width: 979px) {
	.logo { width:100%; }
}
@media (max-width: 767px) {
	.logo { padding:20px 0; }
}
.logo.pull-left { float:none; }
.logo .logo_h__txt { text-transform:none; }
.logo .logo_h__txt a:hover, .logo .logo_h__txt a:active, .logo .logo_h__txt a:focus {
	color:#fff;
	text-decoration:none;
}
.title-section {
	margin:0;
	padding:30px 0;
	background:#ecebea;
	position:relative;
	z-index:10;
	text-align:left;
	position:relative;
}
.title-section > div {
	position:relative;
	z-index:10;
}
.title-section:before, .title-section:after {
	content:"";
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width:101%;
	background:inherit;
	border:inherit;
	z-index:1;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.title-section:before { left:-100%; }
.title-section:after { right:-100%; }
.title-section:before, .title-section:after { z-index:-1; }
@media (max-width: 767px) {
	.title-section { padding:20px 0; }
}
.title-section .title-header {
	padding:0;
	margin:0 0 15px;
	color:#2d426f;
	text-transform:none;
	overflow:visible;
	font:500 44px/1.2em 'Roboto', sans-serif;
	position:relative;
	display:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-section .title-header { font-size:30px; }
}
@media (max-width: 600px) {
	.title-section .title-header { font-size:30px; }
}
.title-section .title-header small { font-size:20px; }
@media (max-width: 600px) {
	.title-section .title-header small { display:block; }
}
.search .title-section .title-header { display:block; }
.title-section .breadcrumb {
	position:relative;
	background:none;
	display:block;
	margin:0;
	padding:0;
	text-transform:none;
	text-shadow:none;
	letter-spacing:0;
	border:none;
	box-shadow:none;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.title-section .breadcrumb > li {
	text-shadow:none;
	font:15px/1.2em 'Roboto', sans-serif;
	display:inline-block;
	vertical-align:baseline;
}
@media (max-width: 480px) {
	.title-section .breadcrumb > li {
		float:none;
		display:block;
	}
}
.title-section .breadcrumb > li.active { color:#2d426f; }
.title-section .breadcrumb a {
	color:#49bffc;
	text-shadow:none;
}
.title-section .breadcrumb a:hover, .title-section .breadcrumb a:active {
	text-decoration:none;
	color:#2d426f;
}
.title-section .breadcrumb .divider {
	padding:0 18px;
	vertical-align:baseline;
	display:inline-block;
}
@media (max-width: 480px) {
	.title-section .breadcrumb .divider { display:none; }
}
.title-section .breadcrumb .divider:after {
	content:'';
	color:#2d426f;
	font:15px/1.2em FontAwesome;
}
article {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article.post__holder {
	margin-bottom:60px;
	overflow:visible;
}
article.post__holder .post-header {
	margin:0;
	padding:0 0 30px;
}
@media (max-width: 767px) {
	article.post__holder .post-header { padding:0 0 20px; }
}
article.post__holder .post-header .post-title {
	text-align:left;
	font:500 44px/1.2em 'Roboto', sans-serif;
	margin:0;
	padding:0;
	letter-spacing:0;
	text-transform:none;
	color:#2d426f;
}
@media (max-width: 979px) {
	article.post__holder .post-header .post-title { margin:0 !important; }
}
@media (min-width: 768px) and (max-width: 979px) {
	article.post__holder .post-header .post-title { font-size:30px; }
}
@media (max-width: 480px) {
	article.post__holder .post-header .post-title { font-size:30px; }
}
article.post__holder .post-header .post-title a {
	color:#2d426f;
	display:inline-block;
}
article.post__holder .post-header .post-title a:hover, article.post__holder .post-header .post-title a:active, article.post__holder .post-header .post-title a:focus {
	text-decoration:none;
	color:#777;
}
article.post__holder .post_content {
	background:none;
	border-radius:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .thumbnail { margin:0 30px 20px 0; }
@media (max-width: 320px) {
	article .thumbnail {
		width:auto !important;
		display:inline-block;
		float:none;
		margin:0 0 15px 0;
	}
	article .thumbnail img { width:100%; }
}
article .thumbnail.flexslider { margin:0 0 20px; }
@media (max-width: 320px) {
	article .thumbnail.flexslider { display:block; }
}
article .thumbnail.large { margin:0 0 30px 0; }
@media (min-width: 768px) and (max-width: 979px) {
	article .thumbnail.large { float:none !important; }
}
article .post_meta {
	padding:8px 0;
	border:none;
	position:relative;
	display:block;
	margin:15px 0;
	overflow:visible;
	background:none;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
article .post_meta .post_meta_unite {
	font:13px/1.2em 'Roboto', sans-serif;
	border-color:transparent;
	padding-left:0;
}
article .post_meta .post_meta_unite .meta_group > div { padding:0 20px 0 0; }
article .post_meta i {
	margin-right:0;
	padding-right:5px;
	color:#49bffc;
	line-height:17px;
	font-size:16px;
	vertical-align:middle;
}
article .post_meta .post_date time { color:#2d426f; }
article .post_meta .post_author a { color:#2d426f; }
article .post_meta .post_category a, article .post_meta .post_tag a, article .post_meta .post_tag { color:#2d426f; }
article .post_meta .post_comment a { color:#2d426f; }
article .post_meta .user_like, article .post_meta .post_views { color:#2d426f; }
article .post_meta .post_permalink a { color:#2d426f; }
article .post_meta > div a:hover, article .post_meta > div a:active {
	text-decoration:none;
	color:#777;
}
article div.jp-playlist li a:hover, article div.jp-playlist li.jp-playlist-current a { color:#b8b8b8; }
article .quote-wrap blockquote {
	font-family:'Roboto', sans-serif;
	font-size:15px;
	line-height:1.2em;
	font-style:normal;
	color:#afafaf;
	font-weight:bold;
}
article .gallery-post { padding-bottom:0; }
article.testimonial {
	background:#fff;
	border-color:#e5e5e5;
}
article.testimonial .user, article.testimonial .info { color:#000; }
.single #content article { margin-bottom:0; }
@media (min-width: 768px) and (max-width: 1000px) {
	.single #content article .thumbnail { float:left; }
	.single #content article .thumbnail img { margin:0; }
}
@media (max-width: 480px) {
	.single #content article .thumbnail { width:100%; }
	.single #content article .thumbnail img { width:100%; }
}
.single #content .share-buttons {
	margin:20px 0 30px;
	background:none;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.single #content .share-buttons .pinterest img { vertical-align:top; }
.single #content .post-author {
	margin:60px 0 20px;
	padding:0;
	border:none;
	background:none;
	border-radius:3px;
}
.single #content .post-author .post-author_h {
	font:500 44px/1.2em 'Roboto', sans-serif;
	margin:0 0 25px 0;
	letter-spacing:0;
	text-align:left;
	text-transform:none;
	color:#2d426f;
	display:block;
}
@media (min-width: 768px) and (max-width: 979px) {
	.single #content .post-author .post-author_h { font-size:30px; }
}
@media (max-width: 480px) {
	.single #content .post-author .post-author_h { font-size:30px; }
}
.single #content .post-author .post-author_h a {
	color:#2d426f;
	text-transform:none;
	font:500 44px/1.2em 'Roboto', sans-serif;
}
.single #content .post-author .post-author_h a:hover, .single #content .post-author .post-author_h a:active, .single #content .post-author .post-author_h a:focus {
	text-decoration:none;
	color:#777;
}
@media (min-width: 768px) and (max-width: 979px) {
	.single #content .post-author .post-author_h a { font-size:30px; }
}
@media (max-width: 480px) {
	.single #content .post-author .post-author_h a { font-size:30px; }
}
.single #content .post-author .post-author_gravatar {
	display:block;
	margin:4px 30px 10px 0;
}
@media (max-width: 480px) {
	.single #content .post-author .post-author_gravatar {
		float:none;
		margin:0 0 20px;
	}
}
.single #content .post-author .post-author_gravatar img {
	width:100px;
	height:100px;
	border-radius:0;
	border:none;
	padding:0;
	background:none;
}
.single #content .post-author .post-author_desc {
	padding:0;
	margin:0;
	text-transform:none;
	color:#777;
	font:13px/20px 'Roboto', sans-serif;
}
.single #content .post-author .post-author_link {
	margin-top:15px;
	text-transform:none;
	color:#2d426f;
	font:13px/1.2em 'Roboto', sans-serif;
}
.single #content .post-author .post-author_link p { margin:0; }
.single #content .post-author .post-author_link a {
	color:#49bffc;
	text-transform:none;
	font:13px/1.2em 'Roboto', sans-serif;
}
.single #content .post-author .post-author_link a:hover, .single #content .post-author .post-author_link a:active, .single #content .post-author .post-author_link a:focus {
	text-decoration:none;
	color:#333;
}
.filter-wrapper {
	margin:0 0 40px;
	padding:10px 0;
	position:relative;
	text-align:left;
}
@media (max-width: 979px) {
	.filter-wrapper {
		margin:20px 0;
		text-align:left;
	}
}
.filter-wrapper strong {
	color:#777;
	padding:0;
	font:15px/1.2em 'Roboto', sans-serif;
	margin-right:24px;
	margin-top:0;
	text-transform:none;
	float:none;
	letter-spacing:0;
	display:inline-block;
	vertical-align:middle;
}
@media (max-width: 979px) {
	.filter-wrapper strong { margin:0 0 20px; }
}
.filter-wrapper .filter {
	margin:0;
	display:inline-block;
	float:none;
	position:relative;
	vertical-align:middle;
	top:0;
}
@media (max-width: 979px) {
	.filter-wrapper .filter {
		float:none;
		display:block;
	}
}
.filter-wrapper .filter li {
	margin:0;
	float:left;
	font:15px/1.2em 'Roboto', sans-serif;
	position:relative;
	display:block;
}
@media (max-width: 979px) {
	.filter-wrapper .filter li {
		float:none;
		margin:0 0 5px !important;
	}
	.filter-wrapper .filter li:before { display:none !important; }
}
.filter-wrapper .filter li:before {
	content:'|';
	font:inherit;
	color:#777;
	display:inline-block;
	padding:0 25px;
}
.filter-wrapper .filter li:first-child { margin:0; }
.filter-wrapper .filter li:first-child:before { display:none; }
.filter-wrapper .filter li a {
	color:#49bffc;
	padding:0;
	margin:0;
	display:inline-block;
	background:none;
	border-radius:0;
	letter-spacing:0;
	text-transform:none;
}
@media (max-width: 979px) {
	.filter-wrapper .filter li a { display:inline-block; }
}
.filter-wrapper .filter li a:active, .filter-wrapper .filter li a:hover, .filter-wrapper .filter li a:focus {
	text-decoration:none;
	color:#2d426f;
	background:none;
}
.filter-wrapper .filter .active a {
	text-decoration:none;
	color:#2d426f;
	background:none;
}
.filter-wrapper .pull-right { float:none; }
.filterable-portfolio li.portfolio_item .portfolio_item_holder {
	position:relative;
	padding:0;
	background:none;
	border:none;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .thumbnail {
	margin:0 0 25px;
	border:none;
	padding:0;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption {
	padding:0;
	background:none;
	text-align:left;
	position:relative;
	z-index:100;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption h3 {
	text-shadow:none;
	margin:0 0 10px;
	font:500 23px/1.2em 'Roboto', sans-serif;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption h3 a {
	color:#49bffc;
	text-transform:none;
	text-decoration:none;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption h3 a:hover, .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption h3 a:active, .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption h3 a:focus {
	text-decoration:none;
	color:#2d426f;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .excerpt {
	font:13px/20px 'Roboto', sans-serif;
	color:#777;
	text-transform:none;
	margin:0;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption p { margin:0; }
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn {
	margin:15px 0 0;
	padding:0;
	background:none;
	display:inline-block;
	overflow: hidden;
	box-shadow:none;
	border:none;
	text-shadow:none;
	border-radius:0;
	-webkit-perspective:900px;
	-moz-perspective:900px;
	-ms-perspective:900px;
	perspective:900px;
	-webkit-perspective-origin:50% 50%;
	-moz-perspective-origin:50% 50%;
	-ms-perspective-origin:50% 50%;
	perspective-origin:50% 50%;
	transition:all 0.3s ease 0s;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:before, .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:after { display:none; }
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span {
	color:#75b020;
	font:500 19px/1.2em 'Roboto', sans-serif;
	display:block;
	position:relative;
	padding:0 2px;
	text-decoration:underline;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-ms-transition:all 400ms ease;
	transition:all 400ms ease;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	transition:all 0.3s ease 0s;
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span:after {
	content:attr(data-hover);
	color:#2d426f;
	display:block;
	position:absolute;
	left:0;
	top:0;
	border-radius:0;
	padding:0 2px;
	margin:0;
	border:none;
	font:inherit;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-moz-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-ms-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	transform:translate3d(0px,0px,-20px) rotateX(90deg);
}
.filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:hover span, .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:active span, .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:focus span {
	color:#2d426f;
	-webkit-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-moz-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-ms-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
}
.ie8 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span, .ie9 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span, .ie10 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span {
	color:#75b020;
	transform:none;
	-ms-transform:none;
}
.ie8 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span:after, .ie9 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span:after, .ie10 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn span:after { display:none; }
.ie8 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:hover span, .ie8 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:active span, .ie8 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:focus span, .ie9 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:hover span, .ie9 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:active span, .ie9 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:focus span, .ie10 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:hover span, .ie10 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:active span, .ie10 .filterable-portfolio li.portfolio_item .portfolio_item_holder .caption .btn:focus span { color:#2d426f; }
.portfolio-meta, .portfolio-meta-list, .pager { border-color:#e5e5e5; }
.related-posts, .comment-holder, #respond { margin:50px 0 0 0; }
.related-posts h3, .comment-holder h3, #respond h3 {
	font:500 44px/1.2em 'Roboto', sans-serif;
	margin:0 0 25px;
	text-align:left;
	text-transform:none;
	color:#2d426f;
	letter-spacing:0;
	display:block;
}
@media (min-width: 768px) and (max-width: 979px) {
	.related-posts h3, .comment-holder h3, #respond h3 { font-size:30px; }
}
@media (max-width: 480px) {
	.related-posts h3, .comment-holder h3, #respond h3 { font-size:30px; }
}
.related-posts .related-posts_item { overflow:visible; }
.related-posts a {
	font:13px/20px 'Roboto', sans-serif;
	color:#49bffc;
	display:inline;
	letter-spacing:0;
	text-transform:none;
}
.related-posts a:hover, .related-posts a:active, .related-posts a:focus {
	text-decoration:none;
	color:#2d426f;
}
.related-posts .thumbnail {
	margin:0 0 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.related-posts .thumbnail a {
	display:inline-block;
	width:100%;
}
.related-posts .thumbnail img {
	-webkit-transform:scale(1) !important;
	-moz-transform:scale(1) !important;
	-ms-transform:scale(1) !important;
	-o-transform:scale(1) !important;
	transform:scale(1) !important;
	-webkit-transform:rotate(0) !important;
	-moz-transform:rotate(0) !important;
	-ms-transform:rotate(0) !important;
	-o-transform:rotate(0) !important;
	transform:rotate(0) !important;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.comment-holder .pagination { margin:10px 0; }
.comment-holder .comment-list > .comment .children {
	padding-left:40px;
	background:url(images/reply.png) no-repeat 0 0;
}
.comment-holder .comment-list .comment .comment-body {
	padding:0;
	margin:0 0 30px;
	background:none;
	border-radius:0;
	border:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author {
	margin:3px 30px 0 0;
	text-align:left;
	border:none;
}
@media (max-width: 480px) {
	.comment-holder .comment-list .comment .comment-body .comment-author {
		float:none;
		margin:0 0 20px;
	}
}
.comment-holder .comment-list .comment .comment-body .comment-author img {
	width:100px;
	height:100px;
	border-radius:0;
	padding:0;
	border:none;
	background:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author .author {
	width:auto;
	text-align:left;
	font:13px/1.2em 'Roboto', sans-serif;
	color:#2d426f;
	padding-top:20px;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .comment-author .author:before {
	content:'';
	font:16px/1.2em FontAwesome;
	color:#49bffc;
	padding:0 10px 0 1px;
	display:inline-block;
	vertical-align:middle;
}
.comment-holder .comment-list .comment .comment-body .extra-wrap {
	padding:0;
	margin:0;
	line-height:20px;
	color:#777;
	text-transform:none;
}
@media (max-width: 480px) {
	.comment-holder .comment-list .comment .comment-body .extra-wrap { overflow:visible; }
}
.comment-holder .comment-list .comment .comment-body .comment-meta {
	margin:0;
	padding:15px 0 0 0;
	font:13px/1.2em 'Roboto', sans-serif;
	color:#2d426f;
	text-transform:none;
}
.comment-holder .comment-list .comment .comment-body .comment-meta:before {
	content:'';
	font:16px/1.2em FontAwesome;
	color:#49bffc;
	padding:0 10px 0 0;
	display:inline-block;
	vertical-align:middle;
}
.comment-holder .reply { padding:0; }
.comment-holder .reply .comment-reply-link {
	padding:0;
	background:#8eca37;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlY2EzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGIwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8eca37),color-stop(100%,#80b03c));
	background:-webkit-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-o-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-ms-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:linear-gradient(to bottom,#8eca37 0%,#80b03c 100%);
}
.comment-holder .reply .comment-reply-link span { vertical-align:middle; }
.comment-holder .reply .comment-reply-link span:after {
	content:'';
	width:25px;
	height:25px;
	display:inline-block;
	margin:0 0 0 10px;
	vertical-align:middle;
	background:url(images/btn-arrow.png);
}
.comment-holder .reply .comment-reply-link:hover, .comment-holder .reply .comment-reply-link:active, .comment-holder .reply .comment-reply-link:focus { color:#fff; }
.comment-holder .reply .comment-reply-link:hover span, .comment-holder .reply .comment-reply-link:active span, .comment-holder .reply .comment-reply-link:focus span { color:#fff; }
.comment-holder #respond #commentform { margin-top:0; }
#respond #commentform { margin:15px 0 0; }
#respond #commentform textarea {
	min-width:inherit;
	min-height:inherit;
	max-height:inherit;
	min-width:inherit;
	max-width:100%;
	width:100%;
	height:300px;
	padding:10px 10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#respond #commentform p input {
	max-width:inherit;
	min-width:inherit;
	width:100%;
	height:35px;
	padding:10px 10px;
	margin-bottom:8px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#respond #commentform p input:focus { box-shadow:none; }
#respond #commentform .comment_submit { text-align:right; }
#respond #commentform .input-btn {
	margin:20px 0 0;
	float:none;
	transition:all 0.3s ease 0s;
	background:#8eca37;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlY2EzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGIwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8eca37),color-stop(100%,#80b03c));
	background:-webkit-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-o-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-ms-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:linear-gradient(to bottom,#8eca37 0%,#80b03c 100%);
}
#respond #commentform .input-btn:before, #respond #commentform .input-btn:after { background:#6b9d22; }
#respond #commentform .input-btn > span {
	padding:0;
	vertical-align:middle;
	position:relative;
}
#respond #commentform .input-btn > span:after {
	content:'';
	position:absolute;
	right:20px;
	top:15px;
	width:25px;
	height:25px;
	margin:0 0 0 10px;
	background:url(images/btn-arrow.png);
}
#respond #commentform .input-btn input {
	display:inline-block;
	margin:0;
	height:auto;
	width:auto;
	padding:15px 60px 15px 20px !important;
	font:500 19px/1.2em 'Roboto', sans-serif;
	transition:all 0.3s ease 0s;
}
#respond #commentform .input-btn:hover input { color:#fff !important; }
#sidebar.sidebar .widget, #sidebar.sidebar .banners { margin:50px 0 0 0; }
#sidebar.sidebar .widget:first-child, #sidebar.sidebar .banners:first-child { margin:0; }
#sidebar.sidebar .widget > h3, #sidebar.sidebar .banners > h3 {
	margin:0 0 25px;
	font:500 44px/1.2em 'Roboto', sans-serif;
	display:block;
	color:#2d426f;
	text-align:left;
	letter-spacing:0;
	text-transform:none;
}
@media (min-width: 768px) and (max-width: 1200px) {
	#sidebar.sidebar .widget > h3, #sidebar.sidebar .banners > h3 {
		font-size:30px;
		line-height:1.2em;
		-moz-hyphens:auto;
		word-wrap:break-word;
	}
}
.ie8 #sidebar.sidebar .widget > h3, .ie8 #sidebar.sidebar .banners > h3 {
	font-size:30px;
	line-height:1.2em;
	word-wrap:break-word;
}
@media (max-width: 480px) {
	#sidebar.sidebar .widget > h3, #sidebar.sidebar .banners > h3 {
		font-size:30px;
		line-height:1.2em;
		-moz-hyphens:auto;
		word-wrap:break-word;
	}
}
[id*="categories"] ul, [id*="archives"] ul, .list.custom-list ul {
	margin:0 0 11px;
	list-style-type:none;
}
@media (max-width: 767px) {
	[id*="categories"] ul, [id*="archives"] ul, .list.custom-list ul { margin:0 0 30px; }
}
[id*="categories"] ul li, [id*="archives"] ul li, .list.custom-list ul li {
	margin:0;
	padding:0;
	z-index:100;
	color:#2d426f;
	position:relative;
	font:15px/1.2em 'Roboto', sans-serif;
}
[id*="categories"] ul li:before, [id*="archives"] ul li:before, .list.custom-list ul li:before { display:none; }
.content_box [id*="categories"] ul li, .cherry_fixed_parallax [id*="categories"] ul li, .content_box [id*="archives"] ul li, .cherry_fixed_parallax [id*="archives"] ul li, .content_box .list.custom-list ul li, .cherry_fixed_parallax .list.custom-list ul li { color:#fff; }
[id*="categories"] ul li a, [id*="archives"] ul li a, .list.custom-list ul li a {
	font:inherit;
	color:inherit;
	text-transform:none;
	display:block;
	position:relative;
	overflow: hidden;
	padding:5px 19px;
}
[id*="categories"] ul li a:before, [id*="archives"] ul li a:before, .list.custom-list ul li a:before {
	content:'';
	font:17px/1.2em FontAwesome;
	color:#49bffc;
	position:absolute;
	left:1px;
	top:50%;
	width:100%;
	height:100%;
	margin-top:-10px;
	display:block;
	transition:all 0.3s ease 0s;
}
[id*="categories"] ul li a:after, [id*="archives"] ul li a:after, .list.custom-list ul li a:after {
	content:'';
	width:0;
	height:100%;
	background:#2d426f;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	border-radius:0 30px 30px 0;
	transition:all 0.3s ease 0s;
}
.content_box [id*="categories"] ul li a:after, .cherry_fixed_parallax [id*="categories"] ul li a:after, .content_box [id*="archives"] ul li a:after, .cherry_fixed_parallax [id*="archives"] ul li a:after, .content_box .list.custom-list ul li a:after, .cherry_fixed_parallax .list.custom-list ul li a:after { background:#fff; }
[id*="categories"] ul li a:hover, [id*="categories"] ul li a:active, [id*="categories"] ul li a:focus, [id*="archives"] ul li a:hover, [id*="archives"] ul li a:active, [id*="archives"] ul li a:focus, .list.custom-list ul li a:hover, .list.custom-list ul li a:active, .list.custom-list ul li a:focus {
	color:#fff;
	text-decoration:none;
	background:none;
}
.content_box [id*="categories"] ul li a:hover, .cherry_fixed_parallax [id*="categories"] ul li a:hover, .content_box [id*="categories"] ul li a:active, .cherry_fixed_parallax [id*="categories"] ul li a:active, .content_box [id*="categories"] ul li a:focus, .cherry_fixed_parallax [id*="categories"] ul li a:focus, .content_box [id*="archives"] ul li a:hover, .cherry_fixed_parallax [id*="archives"] ul li a:hover, .content_box [id*="archives"] ul li a:active, .cherry_fixed_parallax [id*="archives"] ul li a:active, .content_box [id*="archives"] ul li a:focus, .cherry_fixed_parallax [id*="archives"] ul li a:focus, .content_box .list.custom-list ul li a:hover, .cherry_fixed_parallax .list.custom-list ul li a:hover, .content_box .list.custom-list ul li a:active, .cherry_fixed_parallax .list.custom-list ul li a:active, .content_box .list.custom-list ul li a:focus, .cherry_fixed_parallax .list.custom-list ul li a:focus { color:#333; }
[id*="categories"] ul li a:hover:after, [id*="categories"] ul li a:active:after, [id*="categories"] ul li a:focus:after, [id*="archives"] ul li a:hover:after, [id*="archives"] ul li a:active:after, [id*="archives"] ul li a:focus:after, .list.custom-list ul li a:hover:after, .list.custom-list ul li a:active:after, .list.custom-list ul li a:focus:after { width:100%; }
[id*="categories"] ul li a:hover:before, [id*="categories"] ul li a:active:before, [id*="categories"] ul li a:focus:before, [id*="archives"] ul li a:hover:before, [id*="archives"] ul li a:active:before, [id*="archives"] ul li a:focus:before, .list.custom-list ul li a:hover:before, .list.custom-list ul li a:active:before, .list.custom-list ul li a:focus:before {
	-webkit-transform:translateX(100%);
	-moz-transform:translateX(100%);
	-ms-transform:translateX(100%);
	-o-transform:translateX(100%);
	transform:translateX(100%);
	margin-left:-20px;
	color:#fff;
}
.ie8 [id*="categories"] ul li a:hover:before, .ie8 [id*="categories"] ul li a:active:before, .ie8 [id*="categories"] ul li a:focus:before, .ie8 [id*="archives"] ul li a:hover:before, .ie8 [id*="archives"] ul li a:active:before, .ie8 [id*="archives"] ul li a:focus:before, .ie8 .list.custom-list ul li a:hover:before, .ie8 .list.custom-list ul li a:active:before, .ie8 .list.custom-list ul li a:focus:before { display:none; }
.content_box [id*="categories"] ul li a:hover:before, .cherry_fixed_parallax [id*="categories"] ul li a:hover:before, .content_box [id*="categories"] ul li a:active:before, .cherry_fixed_parallax [id*="categories"] ul li a:active:before, .content_box [id*="categories"] ul li a:focus:before, .cherry_fixed_parallax [id*="categories"] ul li a:focus:before, .content_box [id*="archives"] ul li a:hover:before, .cherry_fixed_parallax [id*="archives"] ul li a:hover:before, .content_box [id*="archives"] ul li a:active:before, .cherry_fixed_parallax [id*="archives"] ul li a:active:before, .content_box [id*="archives"] ul li a:focus:before, .cherry_fixed_parallax [id*="archives"] ul li a:focus:before, .content_box .list.custom-list ul li a:hover:before, .cherry_fixed_parallax .list.custom-list ul li a:hover:before, .content_box .list.custom-list ul li a:active:before, .cherry_fixed_parallax .list.custom-list ul li a:active:before, .content_box .list.custom-list ul li a:focus:before, .cherry_fixed_parallax .list.custom-list ul li a:focus:before { color:#333; }
[id*="my_poststypewidget"] .post-list { margin:0; }
[id*="my_poststypewidget"] .post-list li {
	padding:0;
	margin:30px 0 0 0;
	overflow:visible;
	position:relative;
}
[id*="my_poststypewidget"] .post-list li:first-child {
	margin-top:0;
	border:none;
}
[id*="my_poststypewidget"] .post-list li .thumbnail {
	margin:0 0 30px;
	float:none;
}
[id*="my_poststypewidget"] .post-list li .desc { overflow: hidden; }
[id*="my_poststypewidget"] .post-list li .post-list_h {
	font:500 23px/1.2em 'Roboto', sans-serif;
	text-transform:none;
	letter-spacing:0;
	margin:20px 0;
	display:block;
}
[id*="my_poststypewidget"] .post-list li .post-list_h a { color:#49bffc; }
[id*="my_poststypewidget"] .post-list li .post-list_h a:hover, [id*="my_poststypewidget"] .post-list li .post-list_h a:active, [id*="my_poststypewidget"] .post-list li .post-list_h a:focus {
	text-decoration:none;
	color:#2d426f;
}
[id*="my_poststypewidget"] .post-list li time, [id*="my_poststypewidget"] .post-list li .post-list_comment {
	display:block;
	padding:0;
	text-transform:none;
	color:#2d426f;
	font:13px/20px 'Roboto', sans-serif;
}
[id*="my_poststypewidget"] .post-list li time:before {
	content:'';
	font:16px/20px FontAwesome;
	color:#49bffc;
	display:inline-block;
	padding:0 10px 0 0;
}
[id*="my_poststypewidget"] .post-list li .excerpt {
	overflow: hidden;
	margin:0;
	color:#777;
	line-height:20px;
}
[id*="my_poststypewidget"] .post-list li .btn {
	margin-top:10px;
	border:none;
	background:none;
	color:#fff;
	font:14px/22px 'Roboto', sans-serif;
	padding:0;
	border-bottom:1px solid #fff !important;
}
[id*="my_poststypewidget"] .post-list li .btn:hover, [id*="my_poststypewidget"] .post-list li .btn:active, [id*="my_poststypewidget"] .post-list li .btn:focus {
	text-decoration:none;
	color:#0c0c0c;
}
[id*="my_poststypewidget"] .post-list li .btn:before, [id*="my_poststypewidget"] .post-list li .btn:after { display:none; }
[id*="my_poststypewidget"] .post-list li .btn span { padding:0; }
[id*="my_poststypewidget"] .post-list li .btn:hover, [id*="my_poststypewidget"] .post-list li .btn:active, [id*="my_poststypewidget"] .post-list li .btn:focus { border-color:#0c0c0c !important; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li { padding:20px 0; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li:first-child {
	padding-top:0;
	border:none;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .featured-thumbnail {
	margin:0 25px 20px 0;
	box-shadow:none;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
	[id*="my-recent-comments"] .comments-custom .comments-custom_li .featured-thumbnail {
		float:none;
		margin:0 0 15px;
	}
}
@media (max-width: 480px) {
	[id*="my-recent-comments"] .comments-custom .comments-custom_li .featured-thumbnail {
		float:none;
		margin:0 0 15px;
	}
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li i {
	color:#49bffc;
	font-size:16px;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li time {
	margin:0;
	color:#2d426f;
	display:inline-block;
	text-transform:none;
	font:13px/20px 'Roboto', sans-serif;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_author {
	font:13px/20px 'Roboto', sans-serif;
	text-transform:none;
	margin:0;
	color:#2d426f;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_author { margin-top:0; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_title { font:500 23px/1.2em 'Roboto', sans-serif; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_title a { color:#49bffc; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_title a:hover, [id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_title a:active, [id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_h_title a:focus {
	text-decoration:none;
	color:#2d426f;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt {
	border:none;
	overflow: hidden;
	margin:0;
	padding:20px 0 0 0;
}
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a { color:#777; }
[id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a:hover, [id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a:active, [id*="my-recent-comments"] .comments-custom .comments-custom_li .comments-custom_txt a:focus {
	text-decoration:none;
	color:#2d426f;
}
[id*="my_postwidget"] .post-list .post-list_li .post-list_h { font:18px/1.2em "Helvetica Neue", Helvetica, Arial, sans-serif; }
#wp-calendar caption, #wp-calendar thead tr th {
	color:#49bffc;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.search-form .search-form_it {
	margin:0;
	height:50px;
}
.search-form .search-form_is {
	margin:13px 0 0 15px;
	padding:0 !important;
	height:auto;
	background:none;
	box-shadow:none;
	color:#49bffc;
	letter-spacing:0;
}
@media (min-width: 768px) and (max-width: 1200px) {
	.search-form .search-form_is {
		margin:10px 0 0 0;
		display:block;
	}
}
@media (max-width: 480px) {
	.search-form .search-form_is {
		margin:10px 0 0 0;
		display:block;
	}
}
.search-form .search-form_is:hover { color:#3d4140; }
@media (max-width: 767px) {
	#content.left, #sidebar { float:none !important; }
}
.flexslider { margin:0 0 20px; }
.flexslider .flex-control-nav {
	bottom:auto !important;
	margin:20px 0 0 0;
	position:relative !important;
}
.widget-flexslider { background:none; }
.ie8 .widget-flexslider { overflow: hidden; }
.widget-flexslider .flex-control-paging {
	position:relative;
	bottom:0;
	margin:20px 0 0 0;
}
.widget-flexslider .flex-prev:hover, .widget-flexslider .flex-prev:active, .widget-flexslider .flex-next:hover, .widget-flexslider .flex-next:active { text-decoration:none !important; }
.banners .banners_li { margin:0 20px 20px 0; }
#content.row { padding:50px 0 0; }
.title-box {
	margin:0 0 20px;
	text-align:left;
}
@media (max-width: 767px) {
	.title-box { margin:30px 0 20px; }
}
.title-box .title-box_primary {
	font:500 44px/1.2em 'Roboto', sans-serif;
	color:#2d426f;
	text-transform:none;
	margin:0;
	display:block;
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box .title-box_primary { font-size:30px; }
}
@media (max-width: 480px) {
	.title-box .title-box_primary { font-size:30px; }
}
.title-box .title-box_secondary {
	margin:10px 0 0;
	color:#49bffc;
	letter-spacing:0;
	text-transform:none;
	font:500 23px/30px 'Roboto', sans-serif;
}
@media (min-width: 768px) and (max-width: 979px) {
	.title-box .title-box_secondary { font-size:20px; }
}
@media (max-width: 480px) {
	.title-box .title-box_secondary { font-size:20px; }
}
div.type-page p { margin:0 0 20px; }
div.type-page .btn.btn-mini {
	padding:0;
	background:none;
	display:inline-block;
	overflow: hidden;
	box-shadow:none;
	border:none;
	text-shadow:none;
	border-radius:0;
	-webkit-perspective:900px;
	-moz-perspective:900px;
	-ms-perspective:900px;
	perspective:900px;
	-webkit-perspective-origin:50% 50%;
	-moz-perspective-origin:50% 50%;
	-ms-perspective-origin:50% 50%;
	perspective-origin:50% 50%;
	transition:all 0.3s ease 0s;
}
div.type-page .btn.btn-mini:before, div.type-page .btn.btn-mini:after { display:none; }
div.type-page .btn.btn-mini span {
	color:#75b020;
	font:500 19px/1.2em 'Roboto', sans-serif;
	display:block;
	position:relative;
	padding:0 2px;
	text-decoration:underline;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-ms-transition:all 400ms ease;
	transition:all 400ms ease;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	transition:all 0.3s ease 0s;
}
div.type-page .btn.btn-mini span:after {
	content:attr(data-hover);
	color:#2d426f;
	display:block;
	position:absolute;
	left:0;
	top:0;
	border-radius:0;
	padding:0 2px;
	margin:0;
	border:none;
	font:inherit;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-moz-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-ms-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	transform:translate3d(0px,0px,-20px) rotateX(90deg);
}
div.type-page .btn.btn-mini:hover span, div.type-page .btn.btn-mini:active span, div.type-page .btn.btn-mini:focus span {
	color:#2d426f;
	-webkit-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-moz-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-ms-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
}
.ie8 div.type-page .btn.btn-mini span, .ie9 div.type-page .btn.btn-mini span, .ie10 div.type-page .btn.btn-mini span {
	color:#75b020;
	transform:none;
	-ms-transform:none;
}
.ie8 div.type-page .btn.btn-mini span:after, .ie9 div.type-page .btn.btn-mini span:after, .ie10 div.type-page .btn.btn-mini span:after { display:none; }
.ie8 div.type-page .btn.btn-mini:hover span, .ie8 div.type-page .btn.btn-mini:active span, .ie8 div.type-page .btn.btn-mini:focus span, .ie9 div.type-page .btn.btn-mini:hover span, .ie9 div.type-page .btn.btn-mini:active span, .ie9 div.type-page .btn.btn-mini:focus span, .ie10 div.type-page .btn.btn-mini:hover span, .ie10 div.type-page .btn.btn-mini:active span, .ie10 div.type-page .btn.btn-mini:focus span { color:#2d426f; }
div.type-page .btn span i { margin:0 0 0 10px; }
div.type-page .btn span i.icon-circle-arrow-right:before {
	content:'';
	width:25px;
	height:25px;
	display:inline-block;
	vertical-align:top;
	background:url(images/btn-arrow.png);
}
div.type-page .extra-wrap {
	background:#fff;
	background:rgba(255,255,255,0.8);
	border:1px solid #fff;
	padding:15px 30px 30px;
}
@media (max-width: 767px) {
	div.type-page .extra-wrap { margin:20px 0; }
}
div.type-page .extra-wrap .title-box { margin:0 0 10px; }
div.type-page .extra-wrap .title-box .title-box_primary { font-size:54px; }
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page .extra-wrap .title-box .title-box_primary { font-size:30px; }
}
@media (max-width: 480px) {
	div.type-page .extra-wrap .title-box .title-box_primary { font-size:30px; }
}
div.type-page .extra-wrap .title-box .title-box_secondary {
	font-size:28px;
	line-height:1.2em;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	div.type-page .extra-wrap .title-box .title-box_secondary { font-size:20px; }
}
@media (max-width: 480px) {
	div.type-page .extra-wrap .title-box .title-box_secondary { font-size:20px; }
}
div.type-page .extra-wrap .list.custom-list { margin:0 0 15px; }
.spacer { height:40px; }
.service-box {
	background:none;
	border:none;
	border-radius:0;
	padding:0;
	box-shadow:none;
}
.service-box .icon {
	position:relative;
	width:70px;
	height:70px;
	border-radius:50%;
	text-align:center;
	margin:0 30px 20px 0;
	background:#2d426f;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box .icon {
		float:none;
		margin:0 0 20px;
	}
}
.service-box .icon:before {
	content:'';
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#49bffc;
	border-radius:50%;
	z-index:10;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	transition:all 0.3s ease 0s;
}
.ie8 .service-box .icon:before { display:none; }
.service-box .icon i {
	position:relative;
	z-index:100;
	font-size:34px;
	line-height:70px;
	color:#fff;
	display:inline-block;
	transition:all 0.3s ease 0s;
}
.service-box:hover .icon:before {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.service-box:hover .icon i {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
}
.service-box .service-box_body .title {
	font:500 23px/1.3em 'Roboto', sans-serif;
	color:#49bffc;
	overflow: hidden;
	margin:20px 0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.service-box .service-box_body .title { margin:0 0 20px; }
}
.service-box .service-box_body .title a { color:inherit; }
.service-box .service-box_body .title a:hover, .service-box .service-box_body .title a:active, .service-box .service-box_body .title a:focus {
	text-decoration:none;
	color:#2d426f;
}
.testimonials .testi-item {
	margin:0;
	padding:20px 0;
}
.testimonials .testi-item .testi-item_blockquote {
	background:none;
	border-radius:0;
	padding:0;
}
@media (max-width: 767px) {
	.parallax-box .testimonials .testi-item .testi-item_blockquote {
		background:#fff;
		background:rgba(255,255,255,0.5);
		padding:10px;
	}
}
.testimonials .testi-item .testi-item_blockquote:before, .testimonials .testi-item .testi-item_blockquote:after { display:none; }
.testimonials .testi-item .testi-item_blockquote .featured-thumbnail {
	margin:0 0 10px;
	float:none;
}
.testimonials .testi-item .testi-item_blockquote a {
	font:500 23px/30px 'Roboto', sans-serif;
	color:#2d426f;
	display:inline-block;
	overflow: hidden;
}
.testimonials .testi-item .testi-item_blockquote a:hover, .testimonials .testi-item .testi-item_blockquote a:active, .testimonials .testi-item .testi-item_blockquote a:focus {
	text-decoration:none;
	color:#49bffc;
}
.testimonials .testi-item .testi-meta { padding:20px 0 0; }
.testimonials .testi-item .testi-meta span {
	color:#2d426f;
	font:500 44px/1.2em 'Roboto', sans-serif;
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonials .testi-item .testi-meta span { font-size:30px; }
}
@media (max-width: 480px) {
	.testimonials .testi-item .testi-meta span { font-size:30px; }
}
.testimonials .testi-item .testi-meta span:after { display:none; }
.testimonials .testi-item .testi-meta span.info { display:none; }
.testimonials .testi-item .testi-meta a {
	font:500 23px/30px 'Roboto', sans-serif;
	color:#49bffc;
}
.testimonials .testi-item .testi-meta a:hover, .testimonials .testi-item .testi-meta a:active, .testimonials .testi-item .testi-meta a:focus {
	text-decoration:none;
	color:#2d426f;
}
.ie8 .posts-grid li .thumbnail { width:100%; }
.posts-grid.our-tutors li {
	position:relative;
	overflow: hidden;
}
@media (max-width: 767px) {
	.posts-grid.our-tutors li {
		width:31.623931623931625%;
		*width:31.570740134569924%;
		display:inline-block;
		vertical-align:top;
		margin:20px 0 20px 2.564102564102564%;
	}
	.posts-grid.our-tutors li:nth-child(3n+1) { margin:20px 0; }
}
@media (max-width: 480px) {
	.posts-grid.our-tutors li {
		width:48%;
		margin:20px 0 20px 4%;
	}
	.posts-grid.our-tutors li:nth-child(3n+1) { margin:20px 0 20px 4%; }
	.posts-grid.our-tutors li:nth-child(2n+1) { margin:20px 0; }
}
.posts-grid.our-tutors li .thumbnail { margin:0; }
.posts-grid.our-tutors li .desc {
	background:#2d426f;
	background:rgba(4,20,57,0.9);
	padding:5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	transition:all 0.3s ease 0s;
}
@media only screen and (min-width: 979px) {
	.posts-grid.our-tutors li .desc {
		position:absolute;
		height:auto;
		padding:5px 15px;
		-webkit-transform:translateY(100%);
		-moz-transform:translateY(100%);
		-ms-transform:translateY(100%);
		-o-transform:translateY(100%);
		transform:translateY(100%);
		bottom:0;
		left:0;
		width:100%;
	}
}
.posts-grid.our-tutors li .desc h5 {
	font:15px/19px 'Roboto', sans-serif;
	margin:0;
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid.our-tutors li .desc h5 {
		font-size:13px;
		line-height:1.3em;
	}
}
.posts-grid.our-tutors li .desc h5 a { color:#fff; }
.posts-grid.our-tutors li .desc h5 a:hover, .posts-grid.our-tutors li .desc h5 a:active, .posts-grid.our-tutors li .desc h5 a:focus {
	text-decoration:none;
	color:#49bffc;
}
@media only screen and (min-width: 979px) {
	.posts-grid.our-tutors li:hover .thumbnail a img {
		transform:scale(1.2) rotate(-5deg);
		-webkit-transform:-webkit-scale(1.2) -webkit-rotate(-10deg);
	}
}
@media only screen and (min-width: 979px) {
	.posts-grid.our-tutors li:hover .desc {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		-ms-transform:translateY(0);
		-o-transform:translateY(0);
		transform:translateY(0);
	}
}
.posts-grid.our-tutors li.hidden { display:none; }
.posts-grid.our-tutors li.last-box { height:170px; }
@media (min-width: 980px) and (max-width: 1200px) {
	.posts-grid.our-tutors li.last-box { height:140px; }
}
.ie8 .posts-grid.our-tutors li.last-box { height:140px; }
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid.our-tutors li.last-box { height:104px; }
}
@media (max-width: 767px) {
	.posts-grid.our-tutors li.last-box {
		height:auto;
		margin:20px 0 20px 2.564102564102564%;
	}
}
@media only screen and (min-width: 1200px) {
	.posts-grid.our-tutors li.last-box:before {
		content:'';
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		background:#e5e5e5;
		-webkit-transform:scale(0);
		-moz-transform:scale(0);
		-ms-transform:scale(0);
		-o-transform:scale(0);
		transform:scale(0);
		transition:all 0.3s ease 0s;
	}
	.posts-grid.our-tutors li.last-box:hover:before {
		-webkit-transform:scale(1);
		-moz-transform:scale(1);
		-ms-transform:scale(1);
		-o-transform:scale(1);
		transform:scale(1);
	}
}
.posts-grid.our-tutors li.last-box > div {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	text-align:center;
	height:100%;
}
@media (max-width: 767px) {
	.posts-grid.our-tutors li.last-box > div {
		position:relative;
		text-align:center;
	}
}
.posts-grid.our-tutors li.last-box > div a {
	display:inline-block;
	vertical-align:middle;
	font:500 19px/24px 'Roboto', sans-serif;
	color:#75b020;
	text-decoration:underline;
}
.posts-grid.our-tutors li.last-box > div a:hover, .posts-grid.our-tutors li.last-box > div a:active, .posts-grid.our-tutors li.last-box > div a:focus {
	text-decoration:none;
	color:#2d426f;
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid.our-tutors li.last-box > div a {
		font-size:13px;
		line-height:1.3em;
	}
}
.posts-grid.our-tutors li.last-box > div .helper {
	display:inline-block;
	vertical-align:middle;
	width:0;
	height:100%;
}
.posts-grid.our-tutors.ul-item-1 .list-item-6 { display:none; }
.parallax-box.image-parallax-box .parallax-content { padding:60px 0; }
.parallax-box.with-top-padding .parallax-content { padding:470px 0 30px; }
@media (min-width: 768px) and (max-width: 979px) {
	.parallax-box.with-top-padding .parallax-content { padding:100px 0 30px; }
}
@media (max-width: 767px) {
	.parallax-box.with-top-padding .parallax-content { padding:20px 0; }
}
@media (max-width: 767px) {
	.parallax-box .parallax-bg .parallax-img {
		top:0 !important;
		height:100% !important;
		background-size:cover !important;
	}
}
.hr {
	background:#e5e5e5;
	margin:40px 0;
}
.search-box {
	margin:20px 0 0;
	background:#f4f5f4;
	border:1px solid #e5e5e5;
	padding:25px 30px 30px;
	position:relative;
	z-index:1000;
}
@media (min-width: 768px) and (max-width: 979px) {
	.search-box { padding:15px; }
}
@media (max-width: 480px) {
	.search-box { padding:15px; }
}
@media (max-width: 767px) {
	.search-box { margin:30px 0 90px; }
}
.search-box h4 {
	font:500 28px/1.2em 'Roboto', sans-serif;
	color:#75b020;
	margin:0 0 15px;
}
.search-box form {
	margin:0;
	position:relative;
	z-index:1000;
}
.search-box label {
	font:15px/1.2em 'Roboto', sans-serif;
	color:#2d426f;
	margin:0 0 6px;
}
.search-box input, .search-box select { width:100%; }
.search-box .fieldset-portfolio_info { position:relative; }
.search-box .fieldset-portfolio_info input { margin:0; }
.search-box .btn {
	margin-top:20px;
	position:relative;
	z-index:10;
	transition:all 0.3s ease 0s;
	background:#49bffc;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5YmZmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMGE3ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#49bffc),color-stop(100%,#30a7e5));
	background:-webkit-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-o-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-ms-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:linear-gradient(to bottom,#49bffc 0%,#30a7e5 100%);
}
.search-box .btn:before, .search-box .btn:after { background:#0e94d9; }
.search-box .btn > span {
	padding:0;
	vertical-align:middle;
	position:relative;
}
.search-box .btn > span:after {
	content:'';
	position:absolute;
	right:20px;
	top:14px;
	font:19px/1.2em FontAwesome;
	color:#fff;
	display:inline-block;
}
.search-box .btn input {
	display:inline-block;
	margin:0;
	height:auto;
	width:auto;
	padding:15px 50px 15px 20px !important;
	font:500 19px/1.2em 'Roboto', sans-serif;
	transition:all 0.3s ease 0s;
}
.search-box .btn:hover input { color:#fff !important; }
.portfolio-search-wrap { font-size:0; }
.portfolio-search-wrap .no-results { font-size:14px; }
.portfolio-search-wrap article {
	width:31.623931623931625%;
	*width:31.570740134569924%;
	display:inline-block;
	margin:0 0 30px 2.564102564102564%;
	vertical-align:top;
}
.portfolio-search-wrap article.item-1, .portfolio-search-wrap article.item-4, .portfolio-search-wrap article.item-7, .portfolio-search-wrap article.item-10, .portfolio-search-wrap article.item-13, .portfolio-search-wrap article.item-16, .portfolio-search-wrap article.item-19, .portfolio-search-wrap article.item-22 { margin:0 0 30px 0; }
@media (max-width: 767px) {
	.portfolio-search-wrap article {
		float:none;
		display:inline-block;
		vertical-align:top;
	}
}
@media (max-width: 480px) {
	.portfolio-search-wrap article {
		width:48%;
		margin:20px 0 20px 4% !important;
	}
	.portfolio-search-wrap article:nth-child(2n+1) { margin:20px 0 !important; }
}
@media (max-width: 380px) {
	.portfolio-search-wrap article {
		width:100%;
		display:block;
		margin:20px 0 !important;
	}
}
.portfolio-search-wrap article figure {
	width:100%;
	float:none;
	margin:0 0 20px;
}
.portfolio-search-wrap article h4 {
	font:500 23px/28px 'Roboto', sans-serif;
	margin:0;
}
.portfolio-search-wrap article h4 a { color:#2d426f; }
.portfolio-search-wrap article h4 a:hover, .portfolio-search-wrap article h4 a:active, .portfolio-search-wrap article h4 a:focus {
	text-decoration:none;
	color:#49bffc;
}
.fieldset-portfolio_category {
	position:relative;
	margin:0 0 15px;
}
.jq-selectbox {
	vertical-align:middle;
	cursor:pointer;
	position:relative;
	width:100%;
	display:block;
}
.jq-selectbox__select {
	height:36px;
	padding:0 34px 0 10px;
	border:1px solid #e5e5e5;
	border-radius:0;
	background:#fff;
	color:#777;
	font:13px/36px 'Roboto', sans-serif;
}
.jq-selectbox__select:hover {
	background-color:#fff;
	background-position:0 -10px;
}
.jq-selectbox__select:active { background:#fff; }
.jq-selectbox.focused .jq-selectbox__select { border:1px solid #2d426f; }
.jq-selectbox.disabled .jq-selectbox__select {
	border-color:#d9d9d9;
	background:#fff;
	box-shadow:none;
	color:#777;
}
.jq-selectbox__select-text {
	display:block;
	width:100%;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.jq-selectbox .placeholder { color:#777; }
.jq-selectbox__trigger {
	position:absolute;
	top:0;
	right:0;
	width:34px;
	height:100%;
}
.jq-selectbox__trigger-arrow {
	position:absolute;
	top:3px;
	right:3px;
	width:28px;
	height:28px;
	border:1px solid #e5e5e5;
	overflow: hidden;
	text-align:center;
}
.jq-selectbox__trigger-arrow:after {
	content:'';
	font:18px/28px FontAwesome;
	color:#49bffc;
	position:relative;
	top:-5px;
	display:inline-block;
	transition:all 0.3s ease 0s;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow:after { color:#777; }
.jq-selectbox.disabled .jq-selectbox__trigger-arrow:after { color:#777; }
.jq-selectbox__dropdown {
	top:100%;
	width:100%;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:1px solid #e5e5e5;
	border-radius:0;
	background:#fff;
	box-shadow:0 2px 10px rgba(0,0,0,0.2);
	font:14px/18px Arial, sans-serif;
}
.jq-selectbox__dropdown ul { max-height:150px !important; }
.jq-selectbox__search { margin:5px; }
.jq-selectbox__search input {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	margin:0;
	padding:5px 27px 6px 8px;
	outline:none;
	border:1px solid #CCC;
	border-radius:3px;
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
	box-shadow:inset 1px 1px #F1F1F1;
	color:#333;
	-webkit-appearance:textfield;
}
.jq-selectbox__search input::-webkit-search-cancel-button, .jq-selectbox__search input::-webkit-search-decoration { -webkit-appearance:none; }
.jq-selectbox__not-found {
	margin:5px;
	padding:5px 8px 6px;
	background:#F0F0F0;
	font-size:13px;
}
.jq-selectbox ul {
	margin:0;
	padding:5px 0;
}
.jq-selectbox li {
	min-height:18px;
	padding:5px 20px 6px;
	color:#777;
}
.jq-selectbox li.selected {
	background-color:#75b020;
	color:#FFF;
}
.jq-selectbox li:hover {
	background-color:#75b020;
	color:#FFF;
}
.jq-selectbox li.disabled {
	color:#e5e5e5 !important;
	background:#fff !important;
}
.jq-selectbox li.disabled:hover { background:none; }
.jq-selectbox li.optgroup { font-weight:bold; }
.jq-selectbox li.optgroup:hover {
	background:none;
	color:#231F20;
	cursor:default;
}
.jq-selectbox li.option { padding-left:25px; }
.footer {
	background:none;
	border:none;
	padding:29px 0 34px;
}
.footer-text {
	padding:0;
	font:13px/1.2em 'Roboto', sans-serif;
	color:#777;
	text-transform:none;
	text-align:left;
	float:none;
	margin:0;
}
@media (max-width: 767px) {
	.footer-text {
		text-align:center;
		margin:0 0 30px;
	}
}
.footer-text .footer-logo {
	display:block;
	margin:0 0 7px;
}
@media (max-width: 767px) {
	.footer-text .footer-logo {
		margin:0 0 10px;
		display:block;
	}
}
.footer-text a { color:#7b7979; }
.footer-text a:hover, .footer-text a:active, .footer-text a:focus {
	text-decoration:none;
	color:#49bffc;
}
@media (max-width: 767px) {
	.footer-text span {
		padding:0;
		display:block;
	}
}
nav.nav.footer-nav {
	float:none;
	margin:0;
	padding:13px 0 0;
}
@media (max-width: 767px) {
	nav.nav.footer-nav { padding:10px 0; }
}
nav.nav.footer-nav ul {
	float:none;
	text-align:right;
	line-height:inherit;
}
@media (max-width: 767px) {
	nav.nav.footer-nav ul { text-align:center; }
}
nav.nav.footer-nav ul li {
	float:none;
	display:inline-block;
	line-height:inherit;
	padding:0;
	text-transform:none;
	margin:0 0 0 25px;
	padding:0;
	position:relative;
}
@media (max-width: 979px) {
	nav.nav.footer-nav ul li { margin:0 0 0 5px; }
}
@media (max-width: 480px) {
	nav.nav.footer-nav ul li {
		display:block;
		margin:5px 0;
	}
}
nav.nav.footer-nav ul li a { font-weight:500; }
@media (max-width: 979px) {
	nav.nav.footer-nav ul li a { font-size:16px; }
}
nav.nav.footer-nav ul li:first-child { margin:0; }
nav.nav.footer-nav ul li:first-child:before { display:none; }
nav.nav.footer-nav ul li.current-menu-item a, nav.nav.footer-nav ul li a:hover {
	color:#49bffc;
	text-decoration:none;
}
.slider-wrap { min-height:inherit; }
.slider .container { width:100%; }
@media (max-width: 767px) {
	.slider .container .camera .camera_commands, .slider .container .camera .camera_prev, .slider .container .camera .camera_next, .slider .container .camera .camera_caption { display:none; }
}
.zoom-icon { background:none !important; }
.ie8 .zoom-icon { background:url(images/zoom-bg.png) !important; }
.zoom-icon:after {
	content:'';
	width:100%;
	height:100%;
	background:url(images/zoom-bg.png);
	position:absolute;
	top:0;
	right:0;
	border-radius:0;
	z-index:10;
	transition:400ms all 100ms;
	-webkit-transition:400ms all 100ms;
	-o-transition:400ms all 100ms;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}
.ie8 .zoom-icon:after { display:none; }
.zoom-icon:before {
	content:'';
	background:url(images/zoom.png);
	width:50px;
	height:50px;
	margin:-25px 0 0 -25px;
	z-index:100;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	transition:all 0.3s ease 0s;
}
.thumbnail a img {
	transition:transform 200ms linear;
	-webkit-transition:-webkit-transform 200ms linear;
}
.thumbnail:hover .zoom-icon:before {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.thumbnail:hover .zoom-icon:after {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
@media only screen and (min-width: 979px) {
	.thumbnail:hover a img {
		transform:scale(1.2) rotate(-5deg);
		-webkit-transform:-webkit-scale(1.2) -webkit-rotate(-10deg);
	}
}
#back-top-wrapper {
	z-index:200;
	right:20px;
	bottom:20px;
}
#back-top-wrapper #back-top { margin:0; }
#back-top-wrapper #back-top a {
	width:45px;
	height:45px;
	border-radius:50%;
	text-align:center;
	background:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#back-top-wrapper #back-top a:after {
	content:'';
	font:44px/1em FontAwesome;
	color:#49bffc;
	display:inline-block;
	position:relative;
	z-index:100;
	transition:all 0.3s ease 0s;
}
#back-top-wrapper #back-top a span { display:none; }
#back-top-wrapper #back-top a:hover { border:none; }
#back-top-wrapper #back-top a:hover:after {
	-webkit-transform:rotateY(360deg);
	-moz-transform:rotateY(360deg);
	-ms-transform:rotateY(360deg);
	-o-transform:rotateY(360deg);
	transform:rotateY(360deg);
	color:#2d426f;
}
@media (max-width: 600px) {
	#wpadminbar { top:-46px !important; }
}
.error404-holder { padding:80px 0; }
.error404-holder .error404-holder_num {
	color:#49bffc;
	font-weight:100;
}
@media (min-width: 768px) and (max-width: 979px) {
	.error404-holder .error404-holder_num { font-size:150px; }
}
@media (max-width: 767px) {
	.archive_h { margin-top:30px; }
}
blockquote p { line-height:22px; }
.faq-list .marker {
	font-size:15px !important;
	color:#49bffc;
	margin-top:2px;
}
.ie9 .wpcf7-form p input[type="text"], .ie9 .wpcf7-form p input[type="email"], .ie8 .wpcf7-form p input[type="text"], .ie8 .wpcf7-form p input[type="email"] { padding-top:8px; }
.ie9 #search-header .search-form_it, .ie8 #search-header .search-form_it { padding-top:7px; }
.ie9 .search-form .search-form_it, .ie8 .search-form .search-form_it { padding-top:7px; }
.ie8 .wpcf7 .wpcf7-form .wpcf7-not-valid-tip { font-size:12px !important; }
.ie8 #sidebar .search-form .search-form_is, .ie8 #content .search-form .search-form_is, .ie8 .footer-widgets .search-form .search-form_is {
	display:block;
	margin:0;
}
.ie8 .search-form .search-form_it {
	display:block;
	margin:0 0 10px;
}
.ie8 .search-form .input-btn { margin:0; }
.ie8 .comment-author {
	width:80px !important;
	height:auto !important;
	margin-right:20px !important;
}
.ie8 .comment-author img {
	width:80px !important;
	height:80px !important;
}
.ie8 .post-author_gravatar { width:80px !important; }
.ie8 #respond #commentform p input {
	padding-top:7px;
	height:36px;
}
.ie8 #respond #commentform p input[type="submit"] {
	height:auto;
	padding:0;
}
.ie8 .flexslider .flex-direction-nav li a:hover, .ie8 .flexslider .flex-direction-nav li a:active, .ie8 .flexslider .flex-direction-nav li a:focus { text-decoration:none; }
.transition { transition:all 0.3s ease 0s; }
.clear-both:after {
	content:'';
	width:0;
	height:0;
	display:block;
	clear:both;
}
@media (max-width: 767px) {
	.thumb-center {
		float:none;
		display:block;
		text-align:center;
	}
	.thumb-center a {
		display:inline-block;
		text-align:center;
	}
}
.left-right { position:relative; }
.left-right > div {
	position:relative;
	z-index:10;
}
.left-right:before, .left-right:after {
	content:"";
	display:block;
	height:100%;
	position:absolute;
	top:0;
	width:101%;
	background:inherit;
	border:inherit;
	z-index:1;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.left-right:before { left:-100%; }
.left-right:after { right:-100%; }
.btnBackgroundGreenGradient {
	background:#8eca37;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlY2EzNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MGIwM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#8eca37),color-stop(100%,#80b03c));
	background:-webkit-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-o-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:-ms-linear-gradient(top,#8eca37 0%,#80b03c 100%);
	background:linear-gradient(to bottom,#8eca37 0%,#80b03c 100%);
}
.btnBackgroundBlueGradient {
	background:#49bffc;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ5YmZmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMGE3ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#49bffc),color-stop(100%,#30a7e5));
	background:-webkit-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-o-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:-ms-linear-gradient(top,#49bffc 0%,#30a7e5 100%);
	background:linear-gradient(to bottom,#49bffc 0%,#30a7e5 100%);
}
.btn-perspective {
	padding:0;
	background:none;
	display:inline-block;
	overflow: hidden;
	box-shadow:none;
	border:none;
	text-shadow:none;
	border-radius:0;
	-webkit-perspective:900px;
	-moz-perspective:900px;
	-ms-perspective:900px;
	perspective:900px;
	-webkit-perspective-origin:50% 50%;
	-moz-perspective-origin:50% 50%;
	-ms-perspective-origin:50% 50%;
	perspective-origin:50% 50%;
	transition:all 0.3s ease 0s;
}
.btn-perspective:before, .btn-perspective:after { display:none; }
.btn-perspective span {
	color:#75b020;
	font:500 19px/1.2em 'Roboto', sans-serif;
	display:block;
	position:relative;
	padding:0 2px;
	text-decoration:underline;
	-webkit-transition:all 400ms ease;
	-moz-transition:all 400ms ease;
	-ms-transition:all 400ms ease;
	transition:all 400ms ease;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform-style:preserve-3d;
	-moz-transform-style:preserve-3d;
	-ms-transform-style:preserve-3d;
	transform-style:preserve-3d;
	transition:all 0.3s ease 0s;
}
.btn-perspective span:after {
	content:attr(data-hover);
	color:#2d426f;
	display:block;
	position:absolute;
	left:0;
	top:0;
	border-radius:0;
	padding:0 2px;
	margin:0;
	border:none;
	font:inherit;
	-webkit-transform-origin:50% 0%;
	-moz-transform-origin:50% 0%;
	-ms-transform-origin:50% 0%;
	transform-origin:50% 0%;
	-webkit-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-moz-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	-ms-transform:translate3d(0px,0px,-20px) rotateX(90deg);
	transform:translate3d(0px,0px,-20px) rotateX(90deg);
}
.btn-perspective:hover span, .btn-perspective:active span, .btn-perspective:focus span {
	color:#2d426f;
	-webkit-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-moz-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	-ms-transform:translate3d(0px,105%,0px) rotateX(-90deg);
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
}
.ie8 .btn-perspective span, .ie9 .btn-perspective span, .ie10 .btn-perspective span {
	color:#75b020;
	transform:none;
	-ms-transform:none;
}
.ie8 .btn-perspective span:after, .ie9 .btn-perspective span:after, .ie10 .btn-perspective span:after { display:none; }
.ie8 .btn-perspective:hover span, .ie8 .btn-perspective:active span, .ie8 .btn-perspective:focus span, .ie9 .btn-perspective:hover span, .ie9 .btn-perspective:active span, .ie9 .btn-perspective:focus span, .ie10 .btn-perspective:hover span, .ie10 .btn-perspective:active span, .ie10 .btn-perspective:focus span { color:#2d426f; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
