/*--
	Theme Name: Tutor
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 4.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.4
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */

.select-menu
{
display:none;
}
.fc-ltr .fc-basic-view .fc-day-number
{
cursor:pointer;
}

/****************************EVENT POPUP CSS************************************/
div[id^="event-for"]{
	background-color: #fff;
	border: 2px solid gray;
	border-radius: 10px;
	float: left;
	font-family: raleway;
	height: auto;
	padding: 10px 50px;
	width: 100%;
}
.con-about {
	width: 100%;
	float: left;
	text-align: justify;
	padding-bottom: 2%;
}
	#event-section {
width:100%;
height:100%;
z-index: 999999;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
div[id^="event-section-"]{
width:100%;
height:100%;
z-index: 999999;
opacity:.95;
top:0;
left:0;
display:none;
position:fixed;
background-color:#313131;
overflow:auto
}
img.close {
position:absolute;
right:-14px;
top:-14px;
cursor:pointer
}
img#close {
	cursor: pointer;
	float: right;
	left: 69px;
	position: relative;
	top: -27px;
}
div[id^="popupContact"]{
	position: absolute;
	left: 32%;
	width: 48%;
	top: 17%;
	font-family: 'Raleway',sans-serif;
}
div#popupContact {
	position: absolute;
	left: 32%;
	width: 38%;
	top: 17%;
	font-family: 'Raleway',sans-serif;
}
div[id^="form"]{
	max-width: 500px;
	min-width: 250px;
	width: 100%;
	padding: 10px 50px;
	border: 2px solid gray;
	height: auto;
	border-radius: 10px;
	font-family: raleway;
	background-color: #fff;
	margin:0px auto;
}

#form {
	max-width: 500px;
	min-width: 250px;
	width: 100%;
	padding: 10px 50px;
	border: 2px solid gray;
	height: auto;
	border-radius: 10px;
	font-family: raleway;
	background-color: #E7E4E7;
	margin:0px auto;
}

div[id^="event-form"]{
	max-width: 500px;
	min-width: 250px;
	width: 100%;
	padding: 10px 50px;
	border: 2px solid gray;
	height: auto;
	border-radius: 10px;
	font-family: raleway;
	background-color: #fff;
	float: left;

}
#event-form {
	max-width: 500px;
	min-width: 250px;
	width: 100%;
	padding: 10px 50px;
	border: 2px solid gray;
	height: auto;
	border-radius: 10px;
	font-family: raleway;
	background-color: #fff;
	float: left;
}
#event-form-new {
	max-width: 600px;
	min-width: 250px;
	width: 100%;
	padding: 10px 50px;
	border: 2px solid gray;
	height: 400px;
	border-radius: 10px;
	font-family: raleway;
	background-color: #fff;
	float: left;
}



p {
margin-top:30px
}

hr {
margin-top:10px !important;
margin-bottom:15px !important;
border:0;
border-top:1px solid #ccc
}
.input-field
{
	
	padding-left: 10px !important;
   width:100%;
margin-top:10px !important;
}

#name {
/*background-image:url(images/name.jpg);*/
background-repeat:no-repeat;
background-position:5px 7px
}
#email {
/*background-image:url(images/email.png);*/
background-repeat:no-repeat;
background-position:5px 7px
}
#event-time {
/*background-image:url(images/time.jpg);*/
background-repeat:no-repeat;
background-position:5px 7px
}
#event-date {
/*background-image:url(images/calendar.png);*/
background-repeat:no-repeat;
background-position:5px 7px
}
#event-duration {
/*background-image:url(images/duration.jpg);*/
background-repeat:no-repeat;
background-position:5px 7px
}
textarea {
background-image:url(images/msg.png);
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:10px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}
#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#f5e9d4;
color:#000;
border:1px solid #f0e3cb;
padding: 3px 20px;
font-size:20px;
cursor:pointer;
border-radius:5px;
margin-top:10px;
margin-left:0px;
}
span {
font-weight:700
}
.form-title
{
padding:0px;
margin:0px;
background-color:#FEFFED;
text-align:center;
border-radius:10px 10px 0 0
}
/*#event-form span {
	width: 165px;
	float: left;
	color: #A1A1A1;
}*/
table.wp-list-table.widefat.fixed.striped.pages tbody tr th
{
	background-color: #1B294A;
	color: #ffffff;
}
.wp-list-table tr td {padding:10px 25px;}
table.wp-list-table.widefat.fixed.striped.pages{width:100%}
/********************************************END EVENT POPUP CSS**************************************/
.event-button {
	padding: 10px 16px;
	background-color: #1B294A;
	margin: 5px;
	color: #ffffff;
	float: right;
}


.package {
	margin: 20px;
}
.package-title
{
	padding: 10px;
	text-align: center;
	font-size: 15px;
	font-weight: 800;
	color: #ffffff;
}
.credits
{
	width: 60%;
	margin: 0px auto;
	text-align: center;
	padding: 10px;
	background: rgba(193, 190, 179, 0.47);
	border-radius: 56px;
}
.package-amount {
	text-align: center;
	margin-top: 20px;
	padding-bottom: 15px;
	font-size: 30px;
	color: #ffffff;
}
.purchase-package {
	width: 50%;
	margin: 0px auto;
	padding-bottom: 15px;
}
.purchase-package button {
	width: 100%;
}
/*****Custom Css Start Here ****/
#img-about-me{padding-left:20px;}
#tutor-gen-table tr td{text-align: left !important;}
.profile-pic{width:84%;padding-top: 19px;}
.thumb{width: 100% !important;padding: 1px 0px 23px 23px;}
.back .span12{background-color: #3D6B86;float: left;width: 98%; margin-left:21px;}

#other-info{width:100%; height:auto;}
#left-content{height: 100%;width: 50%;float: left;}
#left-content h1{font-size:20px;font-weight:bold; color:#000;padding: 0px;}
#right-content{height: 100%;width: 50%;float: right;border-left: 1px solid rgb(189, 189, 189);}
#tutor-gen-info{color:#6B5858;font-size: 18px;}
.welcome-tutor{font: 19px/23px Roboto;color: #929499;margin-left: 41px;}
#tutor-gen-table{line-height:50px;color: #7E5C5C;font-family: "Times New Roman", Georgia, Serif;word-spacing: 2px; }
#about-tutor{text-align:center;line-height: 2.5;}
#other-info-heading{width:100%;}
#other-info-heading h1{font-size:28px;font-weight:bold; color:#000;padding: 0px;color: #7071AA;}
.profile-rate{width:100%;padding-top: 3px;}
.profile-rate img{width: 17%;}
.personal-info{padding: 9px;}
.tutor-name{line-height: 2.5;font-size: 18px;font-family: "Arial","Helvetica",sans-serif;font-weight: bold;color:#F3DCDC;}
.create-event{width: 40%;}
.viewb{height: 48px;padding:0 38px;font-size: 18px;border: medium none;border-radius: 0px;background-color: #CCC;}
.hourly-rating h6{font: 20px/55px Roboto;color: rgb(209, 209, 209);width: 22%;float: left;}
.tutor-subject{width: 78%;float: left;}
.tutor-subject h6{font: 20px/55px Roboto;color: rgb(209, 209, 209);}
.name{
width:100%;
display:block;
float:left;}
.gender{
width:100%;
display:block;
float:left;}
.contact{
width:100%;
display:block;
float:left;
}
.address{
width:100%;
display:block;
float:left;
}
.leftinfo{
display:block;
width:40%;
float:left;}
.rightinfo{
width:60%;
float:right;}
.about
{

width:100%;
float:left;
display:block;
}
.about q:before, .about q:after {
    content: "\"";
}
.labels
{
font-size:14px;
font-weight:bold;
width:25%;
display:inline-block;
float:left;

color: #eef3ee;
text-align:left;
padding:5px 15px;
}
.labels-rightinfo{
width:36%;
display:inline-block;
float:left;
font-size:14px;
font-weight:bold;
color: #eef3ee;
text-align:left;
padding:5px 15px;


}
.labels-about{
width:10%;
display:inline-block;
float:left;
font-size:14px;
font-weight:bold;
color: #eef3ee;
text-align:left;
padding:5px 15px;


}

.colon{
display:inline-block;
width:5%;
color: #eef3ee;
text-align:left;
padding:5px 15px;
float:left;
}
.colon-about{
display:inline-block;
width:5%;
color: #eef3ee;
text-align:left;
padding:5px 16px;
float:left;


}
.text-about{
width:85%;
display:inline-block;
float:left;
text-align:left;
padding:5px;

}
.text
{
width:50%;

display:inline-block;
float:left;
text-align:left;
padding: 5px 15px;
}
.text p{color:#eef3ee;}
.text-about p{color:#eef3ee;}
.thumb2{
width:150px;
border-radius:5px;
}
.after-profile-pic .profile-pic img
{
 border: 0 none;
    
    max-width: 100%;
    vertical-align: middle;

}
.bootstrap-timepicker-widget table td input {
width:50px !important;}
.feedback{
width:100%;
float: left;
height: auto;
background-color: #C6C4C1;
border-top: 1px solid;
}

.feedback img{
width:4%;
padding:2%;
box-sizing: unset;
}


.feedback1{
width:100%;
float: left;
height: auto;
background-color: #D7D6D5;

}
.feedback1 h3
{
    font-size: 24px;
    margin-left: 18px;
    font-family: initial;
    color: #49BFFC;
}
.feedback1 lable
{
color: #57360F;
}
.feedback1 h2
{
font-size: 24px;
margin-left: 17px;
color: #2D426F;
}
.updated-feedback{
margin-left: 13% !important;
line-height: 0 !important;
font-size: 16px !important;
color: #57360F;
}
.visitor_name{
    height: 80px;
width: 205px !important;
margin-top: 10px;
}
#feedback_info{
font-size: 27px;

color: #5151DB;
font-family: inherit;
}
.feedback2{
margin: 0px auto !important;
width: 50%;

padding-top: 20px;
}
.visitor_nam
{
width: 170px;
color: #514B44;
font-size: 22px;
font-family: inherit;
font-weight: 700;
}
.time_reporting_main{
width:100%;
float:left;
height:auto;
}
.time_reporting{
width: 50%;
margin: 0px auto;
background-color: rgb(230, 230, 192);
}
#reporting{
border-collapse: unset;
border-spacing: 50px !important;
}

#loader{
	background: url("http://localhost/privatetutor/wp-content/themes/tutor/images/icons/ajax-loader.gif") no-repeat scroll center 120px #fff;
	font-size: 0.9em;
	height: 315px;
    display:none;

}
.loader{
	background: url("http://localhost/privatetutor/wp-content/themes/tutor/images/icons/ajax-loader.gif") no-repeat scroll center 120px #fff;
	font-size: 0.9em;
	height: 315px;
	display:none;
}
		/*****Custom Css End Here ****/



